In [9]:
import pandas as pd

lp = pd.read_csv('LOCAL_PEOPLE_GU_2021.csv', encoding='cp949', index_col=False)
lf = pd.read_csv('LONG_FOREIGNER_GU_2021.csv', encoding='cp949', index_col=False)
tf = pd.read_csv('TEMP_FOREIGNER_GU_2021.csv', encoding='cp949', index_col=False)

lp

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20210101,0,11110,194924.6184,4920.3837,2992.2011,4479.0239,7799.4338,8270.0476,6591.1392,...,7513.2691,6532.6210,7281.9873,7159.4938,8479.3144,7389.4164,8051.4425,6722.6436,5109.8562,15036.7700
1,20210101,0,11140,148826.8808,3354.1662,1376.5528,2368.3576,4868.7237,6945.7261,6640.6784,...,7110.3397,6713.5499,7244.8277,5420.8522,5795.2854,4829.2206,5617.3479,4846.5084,3847.0501,9823.1857
2,20210101,0,11170,250141.2136,7083.5939,3542.5572,5294.7572,7602.9197,9970.4226,11424.4500,...,10681.6414,11129.4982,12831.7555,10190.8974,10715.4628,8839.3659,9417.1985,8353.8373,5899.2935,16888.6424
3,20210101,0,11200,315490.0745,11513.7075,4873.2608,6427.3620,9447.8712,12296.0848,12453.8504,...,12707.7943,13462.4842,15997.2596,12525.5609,12903.9998,10991.7768,12442.7269,10785.3456,7925.9533,20678.4090
4,20210101,0,11215,360268.0149,10668.3623,5764.4680,9216.3402,12610.7515,16765.3160,15174.9819,...,17406.2677,15460.2633,15679.1837,13760.7719,14761.8863,13689.3575,14573.9438,12408.8341,8957.7143,20651.2597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,20211231,23,11620,472514.0761,11459.7460,5587.5167,9246.5077,18907.9663,31630.4011,25874.5206,...,27657.9259,20556.6298,19093.2494,15704.3718,16656.3598,15146.7999,16492.3015,14879.3203,12008.2245,29786.2623
218996,20211231,23,11650,455062.9561,19787.1947,10682.4784,13954.8801,12218.0882,13859.9908,15248.2675,...,14424.0264,16067.1612,20992.0304,20998.7721,22433.3375,16798.5863,15450.9244,13399.7482,11023.4122,26408.4854
218997,20211231,23,11680,626466.4158,24454.1035,15836.2983,21877.8836,17167.4107,21281.2474,22822.7317,...,23086.3151,23453.2183,28196.1925,28974.8318,31343.5098,21532.9109,19701.3446,17174.8688,14571.0011,34306.4306
218998,20211231,23,11710,712411.1104,30428.8846,15366.8198,20377.0469,18965.2072,24192.2124,26429.5933,...,25489.0412,27829.3396,34237.0376,30491.9252,30678.1327,26101.4104,28698.9175,24997.5744,19119.4128,40250.2444
218999,20211231,23,11740,524319.2164,21095.4564,12006.9656,14574.3609,13118.0621,16176.9547,17415.4066,...,17141.8310,18817.7341,23594.2146,21721.1200,22377.6210,19549.5054,22154.7722,20360.2661,15934.1844,34850.0792

In [10]:
lp['기준일ID'] = lp['기준일ID'].astype('str')
lp['기준일ID']

0         20210101
1         20210101
2         20210101
3         20210101
4         20210101
            ...
218995    20211231
218996    20211231
218997    20211231
218998    20211231
218999    20211231
Name: 기준일ID, Length: 219000, dtype: object

In [11]:
lp['기준일ID'] = pd.to_datetime(lp['기준일ID'])
lp

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2021-01-01,0,11110,194924.6184,4920.3837,2992.2011,4479.0239,7799.4338,8270.0476,6591.1392,...,7513.2691,6532.6210,7281.9873,7159.4938,8479.3144,7389.4164,8051.4425,6722.6436,5109.8562,15036.7700
1,2021-01-01,0,11140,148826.8808,3354.1662,1376.5528,2368.3576,4868.7237,6945.7261,6640.6784,...,7110.3397,6713.5499,7244.8277,5420.8522,5795.2854,4829.2206,5617.3479,4846.5084,3847.0501,9823.1857
2,2021-01-01,0,11170,250141.2136,7083.5939,3542.5572,5294.7572,7602.9197,9970.4226,11424.4500,...,10681.6414,11129.4982,12831.7555,10190.8974,10715.4628,8839.3659,9417.1985,8353.8373,5899.2935,16888.6424
3,2021-01-01,0,11200,315490.0745,11513.7075,4873.2608,6427.3620,9447.8712,12296.0848,12453.8504,...,12707.7943,13462.4842,15997.2596,12525.5609,12903.9998,10991.7768,12442.7269,10785.3456,7925.9533,20678.4090
4,2021-01-01,0,11215,360268.0149,10668.3623,5764.4680,9216.3402,12610.7515,16765.3160,15174.9819,...,17406.2677,15460.2633,15679.1837,13760.7719,14761.8863,13689.3575,14573.9438,12408.8341,8957.7143,20651.2597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2021-12-31,23,11620,472514.0761,11459.7460,5587.5167,9246.5077,18907.9663,31630.4011,25874.5206,...,27657.9259,20556.6298,19093.2494,15704.3718,16656.3598,15146.7999,16492.3015,14879.3203,12008.2245,29786.2623
218996,2021-12-31,23,11650,455062.9561,19787.1947,10682.4784,13954.8801,12218.0882,13859.9908,15248.2675,...,14424.0264,16067.1612,20992.0304,20998.7721,22433.3375,16798.5863,15450.9244,13399.7482,11023.4122,26408.4854
218997,2021-12-31,23,11680,626466.4158,24454.1035,15836.2983,21877.8836,17167.4107,21281.2474,22822.7317,...,23086.3151,23453.2183,28196.1925,28974.8318,31343.5098,21532.9109,19701.3446,17174.8688,14571.0011,34306.4306
218998,2021-12-31,23,11710,712411.1104,30428.8846,15366.8198,20377.0469,18965.2072,24192.2124,26429.5933,...,25489.0412,27829.3396,34237.0376,30491.9252,30678.1327,26101.4104,28698.9175,24997.5744,19119.4128,40250.2444
218999,2021-12-31,23,11740,524319.2164,21095.4564,12006.9656,14574.3609,13118.0621,16176.9547,17415.4066,...,17141.8310,18817.7341,23594.2146,21721.1200,22377.6210,19549.5054,22154.7722,20360.2661,15934.1844,34850.0792

In [12]:
lf['기준일ID'] = lf['기준일ID'].astype('str')
tf['기준일ID'] = tf['기준일ID'].astype('str')

lf['기준일ID'] = pd.to_datetime(lf['기준일ID'])
tf['기준일ID'] = pd.to_datetime(tf['기준일ID'])

In [13]:
lp['요일'] = lp['기준일ID'].dt.day_name()
lp

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,요일
0,2021-01-01,0,11110,194924.6184,4920.3837,2992.2011,4479.0239,7799.4338,8270.0476,6591.1392,...,6532.6210,7281.9873,7159.4938,8479.3144,7389.4164,8051.4425,6722.6436,5109.8562,15036.7700,Friday
1,2021-01-01,0,11140,148826.8808,3354.1662,1376.5528,2368.3576,4868.7237,6945.7261,6640.6784,...,6713.5499,7244.8277,5420.8522,5795.2854,4829.2206,5617.3479,4846.5084,3847.0501,9823.1857,Friday
2,2021-01-01,0,11170,250141.2136,7083.5939,3542.5572,5294.7572,7602.9197,9970.4226,11424.4500,...,11129.4982,12831.7555,10190.8974,10715.4628,8839.3659,9417.1985,8353.8373,5899.2935,16888.6424,Friday
3,2021-01-01,0,11200,315490.0745,11513.7075,4873.2608,6427.3620,9447.8712,12296.0848,12453.8504,...,13462.4842,15997.2596,12525.5609,12903.9998,10991.7768,12442.7269,10785.3456,7925.9533,20678.4090,Friday
4,2021-01-01,0,11215,360268.0149,10668.3623,5764.4680,9216.3402,12610.7515,16765.3160,15174.9819,...,15460.2633,15679.1837,13760.7719,14761.8863,13689.3575,14573.9438,12408.8341,8957.7143,20651.2597,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2021-12-31,23,11620,472514.0761,11459.7460,5587.5167,9246.5077,18907.9663,31630.4011,25874.5206,...,20556.6298,19093.2494,15704.3718,16656.3598,15146.7999,16492.3015,14879.3203,12008.2245,29786.2623,Friday
218996,2021-12-31,23,11650,455062.9561,19787.1947,10682.4784,13954.8801,12218.0882,13859.9908,15248.2675,...,16067.1612,20992.0304,20998.7721,22433.3375,16798.5863,15450.9244,13399.7482,11023.4122,26408.4854,Friday
218997,2021-12-31,23,11680,626466.4158,24454.1035,15836.2983,21877.8836,17167.4107,21281.2474,22822.7317,...,23453.2183,28196.1925,28974.8318,31343.5098,21532.9109,19701.3446,17174.8688,14571.0011,34306.4306,Friday
218998,2021-12-31,23,11710,712411.1104,30428.8846,15366.8198,20377.0469,18965.2072,24192.2124,26429.5933,...,27829.3396,34237.0376,30491.9252,30678.1327,26101.4104,28698.9175,24997.5744,19119.4128,40250.2444,Friday
218999,2021-12-31,23,11740,524319.2164,21095.4564,12006.9656,14574.3609,13118.0621,16176.9547,17415.4066,...,18817.7341,23594.2146,21721.1200,22377.6210,19549.5054,22154.7722,20360.2661,15934.1844,34850.0792,Friday

In [14]:
lf['요일'] = lf['기준일ID'].dt.day_name()
tf['요일'] = tf['기준일ID'].dt.day_name()

In [16]:
lp['월'] = lp['기준일ID'].dt.strftime('%m')
lp

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,요일,월
0,2021-01-01,0,11110,194924.6184,4920.3837,2992.2011,4479.0239,7799.4338,8270.0476,6591.1392,...,7281.9873,7159.4938,8479.3144,7389.4164,8051.4425,6722.6436,5109.8562,15036.7700,Friday,01
1,2021-01-01,0,11140,148826.8808,3354.1662,1376.5528,2368.3576,4868.7237,6945.7261,6640.6784,...,7244.8277,5420.8522,5795.2854,4829.2206,5617.3479,4846.5084,3847.0501,9823.1857,Friday,01
2,2021-01-01,0,11170,250141.2136,7083.5939,3542.5572,5294.7572,7602.9197,9970.4226,11424.4500,...,12831.7555,10190.8974,10715.4628,8839.3659,9417.1985,8353.8373,5899.2935,16888.6424,Friday,01
3,2021-01-01,0,11200,315490.0745,11513.7075,4873.2608,6427.3620,9447.8712,12296.0848,12453.8504,...,15997.2596,12525.5609,12903.9998,10991.7768,12442.7269,10785.3456,7925.9533,20678.4090,Friday,01
4,2021-01-01,0,11215,360268.0149,10668.3623,5764.4680,9216.3402,12610.7515,16765.3160,15174.9819,...,15679.1837,13760.7719,14761.8863,13689.3575,14573.9438,12408.8341,8957.7143,20651.2597,Friday,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2021-12-31,23,11620,472514.0761,11459.7460,5587.5167,9246.5077,18907.9663,31630.4011,25874.5206,...,19093.2494,15704.3718,16656.3598,15146.7999,16492.3015,14879.3203,12008.2245,29786.2623,Friday,12
218996,2021-12-31,23,11650,455062.9561,19787.1947,10682.4784,13954.8801,12218.0882,13859.9908,15248.2675,...,20992.0304,20998.7721,22433.3375,16798.5863,15450.9244,13399.7482,11023.4122,26408.4854,Friday,12
218997,2021-12-31,23,11680,626466.4158,24454.1035,15836.2983,21877.8836,17167.4107,21281.2474,22822.7317,...,28196.1925,28974.8318,31343.5098,21532.9109,19701.3446,17174.8688,14571.0011,34306.4306,Friday,12
218998,2021-12-31,23,11710,712411.1104,30428.8846,15366.8198,20377.0469,18965.2072,24192.2124,26429.5933,...,34237.0376,30491.9252,30678.1327,26101.4104,28698.9175,24997.5744,19119.4128,40250.2444,Friday,12
218999,2021-12-31,23,11740,524319.2164,21095.4564,12006.9656,14574.3609,13118.0621,16176.9547,17415.4066,...,23594.2146,21721.1200,22377.6210,19549.5054,22154.7722,20360.2661,15934.1844,34850.0792,Friday,12

In [17]:
lf['월'] = lf['기준일ID'].dt.strftime('%m')
tf['월'] = tf['기준일ID'].dt.strftime('%m')

In [18]:
lp.to_csv('LOCAL_PEOPLE_2021.csv', index=False)
lf.to_csv('LONG_FOREIGNER_2021.csv', index=False)
tf.to_csv('TEMPORARY_FOREIGNER_2021.csv', index=False)