In [1]:
import pandas as pd

people = pd.read_csv('2018생활인구.csv')

people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일
0,2018-01-01,0,11110,6572.5156,12986.9063,13727.3330,10311.8520,9760.9616,9545.8237,10855.6797,...,8859.2694,8861.3758,8308.3461,6431.7669,20256.2884,11021.9181,7705.6280,10666.7580,11131.5500,Monday
1,2018-01-01,0,11140,3188.3289,7176.6213,8599.4203,8232.7827,8563.3454,7309.3466,7583.3463,...,5640.9479,6457.4344,5974.6643,4284.3007,12887.8157,10701.4225,7788.2253,40520.8899,41643.5779,Monday
2,2018-01-01,0,11170,5842.7592,11877.4543,15503.0524,14950.5011,14282.3986,11976.9497,11730.4098,...,8628.4710,9484.1050,8862.7852,6676.5444,22260.1984,5868.1385,18862.4808,5848.2543,11051.1631,Monday
3,2018-01-01,0,11200,6877.0558,11178.1725,13050.0497,13011.7403,14332.0556,12911.9814,12893.1453,...,11291.1303,12796.9385,11436.0059,8521.6487,24522.9080,10779.6041,5861.5144,840.9279,1479.1156,Monday
4,2018-01-01,0,11215,12406.6133,18563.5674,18541.8660,16711.3371,16373.6189,14442.9413,15134.5501,...,14553.9676,15485.9605,13633.0170,9380.4592,24977.0013,20806.0447,5665.1635,1039.5251,1842.5153,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2018-12-31,23,11620,10200.2129,22375.6621,33873.0854,27510.4731,24559.9512,20593.4517,20688.0060,...,16436.8033,19310.0446,17792.3370,15159.9956,34881.8443,20582.7884,4601.0817,1115.8953,1197.5291,Monday
218996,2018-12-31,23,11650,13656.2125,17593.0871,20018.6269,18887.0684,21854.2161,21352.6190,24079.9804,...,17723.7620,18376.2462,17309.4096,13739.6384,34110.9447,4521.3356,9660.5473,2085.1647,5553.4404,Monday
218997,2018-12-31,23,11680,21313.5081,24308.6100,29680.7417,28380.6901,31667.5536,28553.1611,32028.4848,...,21634.3518,22176.8834,21920.1091,17657.7531,41654.7030,7143.3844,13334.8811,12001.3302,15104.2093,Monday
218998,2018-12-31,23,11710,19229.8765,22680.2903,26807.7935,28706.0535,33785.5693,29396.0349,30082.9585,...,27631.5242,31110.4196,29165.2619,20712.2400,47749.9883,9938.1245,8386.0181,1994.8628,7210.5983,Monday
218999,2018-12-31,23,11740,14170.3440,14708.4631,16431.6993,17010.1563,21162.6356,19403.7256,21383.1910,...,19857.2465,24019.1113,22173.7182,16079.2916,35953.3893,7974.8799,2325.1343,367.4101,891.4434,Monday

In [2]:
people['기준일ID'] = people['기준일ID'].astype('str')
people['기준일ID']

0         2018-01-01
1         2018-01-01
2         2018-01-01
3         2018-01-01
4         2018-01-01
             ...
218995    2018-12-31
218996    2018-12-31
218997    2018-12-31
218998    2018-12-31
218999    2018-12-31
Name: 기준일ID, Length: 219000, dtype: object

In [3]:
people['기준일ID'] = pd.to_datetime(people['기준일ID'])
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일
0,2018-01-01,0,11110,6572.5156,12986.9063,13727.3330,10311.8520,9760.9616,9545.8237,10855.6797,...,8859.2694,8861.3758,8308.3461,6431.7669,20256.2884,11021.9181,7705.6280,10666.7580,11131.5500,Monday
1,2018-01-01,0,11140,3188.3289,7176.6213,8599.4203,8232.7827,8563.3454,7309.3466,7583.3463,...,5640.9479,6457.4344,5974.6643,4284.3007,12887.8157,10701.4225,7788.2253,40520.8899,41643.5779,Monday
2,2018-01-01,0,11170,5842.7592,11877.4543,15503.0524,14950.5011,14282.3986,11976.9497,11730.4098,...,8628.4710,9484.1050,8862.7852,6676.5444,22260.1984,5868.1385,18862.4808,5848.2543,11051.1631,Monday
3,2018-01-01,0,11200,6877.0558,11178.1725,13050.0497,13011.7403,14332.0556,12911.9814,12893.1453,...,11291.1303,12796.9385,11436.0059,8521.6487,24522.9080,10779.6041,5861.5144,840.9279,1479.1156,Monday
4,2018-01-01,0,11215,12406.6133,18563.5674,18541.8660,16711.3371,16373.6189,14442.9413,15134.5501,...,14553.9676,15485.9605,13633.0170,9380.4592,24977.0013,20806.0447,5665.1635,1039.5251,1842.5153,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2018-12-31,23,11620,10200.2129,22375.6621,33873.0854,27510.4731,24559.9512,20593.4517,20688.0060,...,16436.8033,19310.0446,17792.3370,15159.9956,34881.8443,20582.7884,4601.0817,1115.8953,1197.5291,Monday
218996,2018-12-31,23,11650,13656.2125,17593.0871,20018.6269,18887.0684,21854.2161,21352.6190,24079.9804,...,17723.7620,18376.2462,17309.4096,13739.6384,34110.9447,4521.3356,9660.5473,2085.1647,5553.4404,Monday
218997,2018-12-31,23,11680,21313.5081,24308.6100,29680.7417,28380.6901,31667.5536,28553.1611,32028.4848,...,21634.3518,22176.8834,21920.1091,17657.7531,41654.7030,7143.3844,13334.8811,12001.3302,15104.2093,Monday
218998,2018-12-31,23,11710,19229.8765,22680.2903,26807.7935,28706.0535,33785.5693,29396.0349,30082.9585,...,27631.5242,31110.4196,29165.2619,20712.2400,47749.9883,9938.1245,8386.0181,1994.8628,7210.5983,Monday
218999,2018-12-31,23,11740,14170.3440,14708.4631,16431.6993,17010.1563,21162.6356,19403.7256,21383.1910,...,19857.2465,24019.1113,22173.7182,16079.2916,35953.3893,7974.8799,2325.1343,367.4101,891.4434,Monday

In [4]:
people['요일'] = people['기준일ID'].dt.day_name()
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일
0,2018-01-01,0,11110,6572.5156,12986.9063,13727.3330,10311.8520,9760.9616,9545.8237,10855.6797,...,8859.2694,8861.3758,8308.3461,6431.7669,20256.2884,11021.9181,7705.6280,10666.7580,11131.5500,Monday
1,2018-01-01,0,11140,3188.3289,7176.6213,8599.4203,8232.7827,8563.3454,7309.3466,7583.3463,...,5640.9479,6457.4344,5974.6643,4284.3007,12887.8157,10701.4225,7788.2253,40520.8899,41643.5779,Monday
2,2018-01-01,0,11170,5842.7592,11877.4543,15503.0524,14950.5011,14282.3986,11976.9497,11730.4098,...,8628.4710,9484.1050,8862.7852,6676.5444,22260.1984,5868.1385,18862.4808,5848.2543,11051.1631,Monday
3,2018-01-01,0,11200,6877.0558,11178.1725,13050.0497,13011.7403,14332.0556,12911.9814,12893.1453,...,11291.1303,12796.9385,11436.0059,8521.6487,24522.9080,10779.6041,5861.5144,840.9279,1479.1156,Monday
4,2018-01-01,0,11215,12406.6133,18563.5674,18541.8660,16711.3371,16373.6189,14442.9413,15134.5501,...,14553.9676,15485.9605,13633.0170,9380.4592,24977.0013,20806.0447,5665.1635,1039.5251,1842.5153,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2018-12-31,23,11620,10200.2129,22375.6621,33873.0854,27510.4731,24559.9512,20593.4517,20688.0060,...,16436.8033,19310.0446,17792.3370,15159.9956,34881.8443,20582.7884,4601.0817,1115.8953,1197.5291,Monday
218996,2018-12-31,23,11650,13656.2125,17593.0871,20018.6269,18887.0684,21854.2161,21352.6190,24079.9804,...,17723.7620,18376.2462,17309.4096,13739.6384,34110.9447,4521.3356,9660.5473,2085.1647,5553.4404,Monday
218997,2018-12-31,23,11680,21313.5081,24308.6100,29680.7417,28380.6901,31667.5536,28553.1611,32028.4848,...,21634.3518,22176.8834,21920.1091,17657.7531,41654.7030,7143.3844,13334.8811,12001.3302,15104.2093,Monday
218998,2018-12-31,23,11710,19229.8765,22680.2903,26807.7935,28706.0535,33785.5693,29396.0349,30082.9585,...,27631.5242,31110.4196,29165.2619,20712.2400,47749.9883,9938.1245,8386.0181,1994.8628,7210.5983,Monday
218999,2018-12-31,23,11740,14170.3440,14708.4631,16431.6993,17010.1563,21162.6356,19403.7256,21383.1910,...,19857.2465,24019.1113,22173.7182,16079.2916,35953.3893,7974.8799,2325.1343,367.4101,891.4434,Monday

In [5]:
people['월'] = people['기준일ID'].dt.strftime('%m')
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2018-01-01,0,11110,6572.5156,12986.9063,13727.3330,10311.8520,9760.9616,9545.8237,10855.6797,...,8861.3758,8308.3461,6431.7669,20256.2884,11021.9181,7705.6280,10666.7580,11131.5500,Monday,01
1,2018-01-01,0,11140,3188.3289,7176.6213,8599.4203,8232.7827,8563.3454,7309.3466,7583.3463,...,6457.4344,5974.6643,4284.3007,12887.8157,10701.4225,7788.2253,40520.8899,41643.5779,Monday,01
2,2018-01-01,0,11170,5842.7592,11877.4543,15503.0524,14950.5011,14282.3986,11976.9497,11730.4098,...,9484.1050,8862.7852,6676.5444,22260.1984,5868.1385,18862.4808,5848.2543,11051.1631,Monday,01
3,2018-01-01,0,11200,6877.0558,11178.1725,13050.0497,13011.7403,14332.0556,12911.9814,12893.1453,...,12796.9385,11436.0059,8521.6487,24522.9080,10779.6041,5861.5144,840.9279,1479.1156,Monday,01
4,2018-01-01,0,11215,12406.6133,18563.5674,18541.8660,16711.3371,16373.6189,14442.9413,15134.5501,...,15485.9605,13633.0170,9380.4592,24977.0013,20806.0447,5665.1635,1039.5251,1842.5153,Monday,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2018-12-31,23,11620,10200.2129,22375.6621,33873.0854,27510.4731,24559.9512,20593.4517,20688.0060,...,19310.0446,17792.3370,15159.9956,34881.8443,20582.7884,4601.0817,1115.8953,1197.5291,Monday,12
218996,2018-12-31,23,11650,13656.2125,17593.0871,20018.6269,18887.0684,21854.2161,21352.6190,24079.9804,...,18376.2462,17309.4096,13739.6384,34110.9447,4521.3356,9660.5473,2085.1647,5553.4404,Monday,12
218997,2018-12-31,23,11680,21313.5081,24308.6100,29680.7417,28380.6901,31667.5536,28553.1611,32028.4848,...,22176.8834,21920.1091,17657.7531,41654.7030,7143.3844,13334.8811,12001.3302,15104.2093,Monday,12
218998,2018-12-31,23,11710,19229.8765,22680.2903,26807.7935,28706.0535,33785.5693,29396.0349,30082.9585,...,31110.4196,29165.2619,20712.2400,47749.9883,9938.1245,8386.0181,1994.8628,7210.5983,Monday,12
218999,2018-12-31,23,11740,14170.3440,14708.4631,16431.6993,17010.1563,21162.6356,19403.7256,21383.1910,...,24019.1113,22173.7182,16079.2916,35953.3893,7974.8799,2325.1343,367.4101,891.4434,Monday,12

In [6]:
gu = pd.read_csv('C:/Users/sun/Desktop/평일/자치구코드.csv', index_col=0)
gu

       자치구 명
자치구 코드
11000   인근지역
11110    종로구
11140     중구
11170    용산구
11200    성동구
11215    광진구
11230   동대문구
11260    중랑구
11290    성북구
11305    강북구
11320    도봉구
11350    노원구
11380    은평구
11410   서대문구
11440    마포구
11470    양천구
11500    강서구
11530    구로구
11545    금천구
11560   영등포구
11590    동작구
11620    관악구
11650    서초구
11680    강남구
11710    송파구
11740    강동구

In [7]:
dict_gu = gu.to_dict()
dict_gu

{'자치구 명': {11000: '인근지역',
  11110: '종로구',
  11140: '중구',
  11170: '용산구',
  11200: '성동구',
  11215: '광진구',
  11230: '동대문구',
  11260: '중랑구',
  11290: '성북구',
  11305: '강북구',
  11320: '도봉구',
  11350: '노원구',
  11380: '은평구',
  11410: '서대문구',
  11440: '마포구',
  11470: '양천구',
  11500: '강서구',
  11530: '구로구',
  11545: '금천구',
  11560: '영등포구',
  11590: '동작구',
  11620: '관악구',
  11650: '서초구',
  11680: '강남구',
  11710: '송파구',
  11740: '강동구'}}

In [8]:
people = people.replace({'자치구코드': dict_gu['자치구 명']})
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2018-01-01,0,종로구,6572.5156,12986.9063,13727.3330,10311.8520,9760.9616,9545.8237,10855.6797,...,8861.3758,8308.3461,6431.7669,20256.2884,11021.9181,7705.6280,10666.7580,11131.5500,Monday,01
1,2018-01-01,0,중구,3188.3289,7176.6213,8599.4203,8232.7827,8563.3454,7309.3466,7583.3463,...,6457.4344,5974.6643,4284.3007,12887.8157,10701.4225,7788.2253,40520.8899,41643.5779,Monday,01
2,2018-01-01,0,용산구,5842.7592,11877.4543,15503.0524,14950.5011,14282.3986,11976.9497,11730.4098,...,9484.1050,8862.7852,6676.5444,22260.1984,5868.1385,18862.4808,5848.2543,11051.1631,Monday,01
3,2018-01-01,0,성동구,6877.0558,11178.1725,13050.0497,13011.7403,14332.0556,12911.9814,12893.1453,...,12796.9385,11436.0059,8521.6487,24522.9080,10779.6041,5861.5144,840.9279,1479.1156,Monday,01
4,2018-01-01,0,광진구,12406.6133,18563.5674,18541.8660,16711.3371,16373.6189,14442.9413,15134.5501,...,15485.9605,13633.0170,9380.4592,24977.0013,20806.0447,5665.1635,1039.5251,1842.5153,Monday,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2018-12-31,23,관악구,10200.2129,22375.6621,33873.0854,27510.4731,24559.9512,20593.4517,20688.0060,...,19310.0446,17792.3370,15159.9956,34881.8443,20582.7884,4601.0817,1115.8953,1197.5291,Monday,12
218996,2018-12-31,23,서초구,13656.2125,17593.0871,20018.6269,18887.0684,21854.2161,21352.6190,24079.9804,...,18376.2462,17309.4096,13739.6384,34110.9447,4521.3356,9660.5473,2085.1647,5553.4404,Monday,12
218997,2018-12-31,23,강남구,21313.5081,24308.6100,29680.7417,28380.6901,31667.5536,28553.1611,32028.4848,...,22176.8834,21920.1091,17657.7531,41654.7030,7143.3844,13334.8811,12001.3302,15104.2093,Monday,12
218998,2018-12-31,23,송파구,19229.8765,22680.2903,26807.7935,28706.0535,33785.5693,29396.0349,30082.9585,...,31110.4196,29165.2619,20712.2400,47749.9883,9938.1245,8386.0181,1994.8628,7210.5983,Monday,12
218999,2018-12-31,23,강동구,14170.3440,14708.4631,16431.6993,17010.1563,21162.6356,19403.7256,21383.1910,...,24019.1113,22173.7182,16079.2916,35953.3893,7974.8799,2325.1343,367.4101,891.4434,Monday,12

In [9]:
people1 = people[people['요일']!='Sunday']
people1

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2018-01-01,0,종로구,6572.5156,12986.9063,13727.3330,10311.8520,9760.9616,9545.8237,10855.6797,...,8861.3758,8308.3461,6431.7669,20256.2884,11021.9181,7705.6280,10666.7580,11131.5500,Monday,01
1,2018-01-01,0,중구,3188.3289,7176.6213,8599.4203,8232.7827,8563.3454,7309.3466,7583.3463,...,6457.4344,5974.6643,4284.3007,12887.8157,10701.4225,7788.2253,40520.8899,41643.5779,Monday,01
2,2018-01-01,0,용산구,5842.7592,11877.4543,15503.0524,14950.5011,14282.3986,11976.9497,11730.4098,...,9484.1050,8862.7852,6676.5444,22260.1984,5868.1385,18862.4808,5848.2543,11051.1631,Monday,01
3,2018-01-01,0,성동구,6877.0558,11178.1725,13050.0497,13011.7403,14332.0556,12911.9814,12893.1453,...,12796.9385,11436.0059,8521.6487,24522.9080,10779.6041,5861.5144,840.9279,1479.1156,Monday,01
4,2018-01-01,0,광진구,12406.6133,18563.5674,18541.8660,16711.3371,16373.6189,14442.9413,15134.5501,...,15485.9605,13633.0170,9380.4592,24977.0013,20806.0447,5665.1635,1039.5251,1842.5153,Monday,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2018-12-31,23,관악구,10200.2129,22375.6621,33873.0854,27510.4731,24559.9512,20593.4517,20688.0060,...,19310.0446,17792.3370,15159.9956,34881.8443,20582.7884,4601.0817,1115.8953,1197.5291,Monday,12
218996,2018-12-31,23,서초구,13656.2125,17593.0871,20018.6269,18887.0684,21854.2161,21352.6190,24079.9804,...,18376.2462,17309.4096,13739.6384,34110.9447,4521.3356,9660.5473,2085.1647,5553.4404,Monday,12
218997,2018-12-31,23,강남구,21313.5081,24308.6100,29680.7417,28380.6901,31667.5536,28553.1611,32028.4848,...,22176.8834,21920.1091,17657.7531,41654.7030,7143.3844,13334.8811,12001.3302,15104.2093,Monday,12
218998,2018-12-31,23,송파구,19229.8765,22680.2903,26807.7935,28706.0535,33785.5693,29396.0349,30082.9585,...,31110.4196,29165.2619,20712.2400,47749.9883,9938.1245,8386.0181,1994.8628,7210.5983,Monday,12
218999,2018-12-31,23,강동구,14170.3440,14708.4631,16431.6993,17010.1563,21162.6356,19403.7256,21383.1910,...,24019.1113,22173.7182,16079.2916,35953.3893,7974.8799,2325.1343,367.4101,891.4434,Monday,12

In [10]:
people2 = people1[people1['요일']!='Saturday']
people2

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2018-01-01,0,종로구,6572.5156,12986.9063,13727.3330,10311.8520,9760.9616,9545.8237,10855.6797,...,8861.3758,8308.3461,6431.7669,20256.2884,11021.9181,7705.6280,10666.7580,11131.5500,Monday,01
1,2018-01-01,0,중구,3188.3289,7176.6213,8599.4203,8232.7827,8563.3454,7309.3466,7583.3463,...,6457.4344,5974.6643,4284.3007,12887.8157,10701.4225,7788.2253,40520.8899,41643.5779,Monday,01
2,2018-01-01,0,용산구,5842.7592,11877.4543,15503.0524,14950.5011,14282.3986,11976.9497,11730.4098,...,9484.1050,8862.7852,6676.5444,22260.1984,5868.1385,18862.4808,5848.2543,11051.1631,Monday,01
3,2018-01-01,0,성동구,6877.0558,11178.1725,13050.0497,13011.7403,14332.0556,12911.9814,12893.1453,...,12796.9385,11436.0059,8521.6487,24522.9080,10779.6041,5861.5144,840.9279,1479.1156,Monday,01
4,2018-01-01,0,광진구,12406.6133,18563.5674,18541.8660,16711.3371,16373.6189,14442.9413,15134.5501,...,15485.9605,13633.0170,9380.4592,24977.0013,20806.0447,5665.1635,1039.5251,1842.5153,Monday,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2018-12-31,23,관악구,10200.2129,22375.6621,33873.0854,27510.4731,24559.9512,20593.4517,20688.0060,...,19310.0446,17792.3370,15159.9956,34881.8443,20582.7884,4601.0817,1115.8953,1197.5291,Monday,12
218996,2018-12-31,23,서초구,13656.2125,17593.0871,20018.6269,18887.0684,21854.2161,21352.6190,24079.9804,...,18376.2462,17309.4096,13739.6384,34110.9447,4521.3356,9660.5473,2085.1647,5553.4404,Monday,12
218997,2018-12-31,23,강남구,21313.5081,24308.6100,29680.7417,28380.6901,31667.5536,28553.1611,32028.4848,...,22176.8834,21920.1091,17657.7531,41654.7030,7143.3844,13334.8811,12001.3302,15104.2093,Monday,12
218998,2018-12-31,23,송파구,19229.8765,22680.2903,26807.7935,28706.0535,33785.5693,29396.0349,30082.9585,...,31110.4196,29165.2619,20712.2400,47749.9883,9938.1245,8386.0181,1994.8628,7210.5983,Monday,12
218999,2018-12-31,23,강동구,14170.3440,14708.4631,16431.6993,17010.1563,21162.6356,19403.7256,21383.1910,...,24019.1113,22173.7182,16079.2916,35953.3893,7974.8799,2325.1343,367.4101,891.4434,Monday,12

In [11]:
people2['요일'].value_counts()

Monday       31800
Tuesday      31200
Wednesday    31200
Thursday     31200
Friday       31200
Name: 요일, dtype: int64

In [12]:
columns = people2.columns
people2 = people2.groupby(['자치구코드', '월'])[columns].mean()
people2

          시간대구분  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
자치구코드 월
강남구   01   11.5     21918.851886     26649.893435     39479.802430
      02   11.5     20472.409523     25268.849156     38316.626938
      03   11.5     20517.118526     22715.875985     38751.609407
      04   11.5     20726.742566     22461.136710     38741.554257
      05   11.5     20997.680454     22585.335603     37507.156740
...         ...              ...              ...              ...
중랑구   08   11.5      8857.293466     11200.288028     11213.571163
      09   11.5      8719.419606     11220.575486     11109.608136
      10   11.5      8635.184022     11205.966322     11063.896888
      11   11.5      8509.160283     11045.518321     10927.819054
      12   11.5      8424.802668     11128.706864     11425.174339

          남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
자치구코드 월
강남구   01     44551.455304     49721.642012     43973.997324     42265.389772
      02     42950.272173     47908.657558     42396.460806     40900.940359
      03     44471.748689     49847.736265     44364.209018     42396.055482
      04     44846.304175     50350.413314     44637.313109     42173.818798
      05     42810.810128     47854.121178     42536.382412     40763.356724
...                   ...              ...              ...              ...
중랑구   08     11451.264137     13635.476933     12146.088357     13336.952211
      09     11566.486335     13893.956521     12383.250951     13535.172184
      10     11446.005200     13714.249462     12208.089901     13336.187369
      11     11335.602619     13559.581268     11980.704538     13404.848283
      12     11370.264790     13863.325793     12051.146819     13672.517791

          남자50세부터54세생활인구수  남자55세부터59세생활인구수  ...  여자45세부터49세생활인구수  \
자치구코드 월                                     ...
강남구   01     30070.732197     25499.822020  ...     35172.997024
      02     29221.486395     24843.900210  ...     33886.965164
      03     30085.566043     25443.903408  ...     35058.254291
      04     30212.510138     25246.038773  ...     34929.289124
      05     29378.004978     24518.469312  ...     34309.232905
...                   ...              ...  ...              ...
중랑구   08     12980.583006     13952.517401  ...     14848.883217
      09     13064.235089     13906.866768  ...     14985.205021
      10     12896.865970     13735.542796  ...     15015.753772
      11     12885.793918     13674.389420  ...     14969.241251
      12     13098.619681     14198.809452  ...     15120.713603

          여자50세부터54세생활인구수  여자55세부터59세생활인구수  여자60세부터64세생활인구수  여자65세부터69세생활인구수  \
자치구코드 월
강남구   01     26559.432529     27888.269635     27411.398607     20961.155945
      02     25883.209988     27206.986021     26670.439523     20680.030250
      03     26353.169933     27783.903285     27202.300898     21257.428512
      04     26114.837181     27370.483880     26863.872131     20933.570527
      05     25675.550298     26692.454877     26071.207904     20347.102820
...                   ...              ...              ...              ...
중랑구   08     15179.429243     17172.636967     14478.090587     11031.033978
      09     15201.506027     17291.071164     14570.823312     11103.350684
      10     15258.453689     17266.803639     14398.403278     10984.007892
      11     15216.133669     17299.954947     14462.701098     10926.271047
      12     15364.800245     17741.684139     14947.978918     11222.669184

          여자70세이상생활인구수      중국인체류인구수   중국외외국인체류인구수   중국인체류인구수.1  중국외외국인체류인구수.1
자치구코드 월
강남구   01  47161.789820  12569.272188  11506.515520  8571.119409   13282.388057
      02  46498.955245  12286.880304  11024.270011  6322.726665   10518.922411
      03  47424.427609  11790.329249  10870.813555  4501.289176   13846.776884
      04  46427.949583  11593.176131  10746.587486  4864.144438   14386.034737
      05  46170.546370  11156.280653  10618.953655  5968.307090   14921.614419
...                ...           ...           ...          ...            ...
중랑구   08  29839.105613   3652.706529   2282.114258   159.244988     455.131208
      09  30347.362836   3522.491495   2267.816058   177.480295     477.825188
      10  30050.614393   3471.847237   2196.321361   170.189360     456.561657
      11  30037.620809   3368.816894   2185.349421   206.757493     478.968303
      12  30703.613712   3534.791002   2249.866141   148.335680     439.042320

[300 rows x 29 columns]

In [13]:
people3 = people2.copy()

In [14]:
people3['남성연령_20'] = people2['남자20세부터24세생활인구수'] + people2['남자25세부터29세생활인구수']
people3['남성연령_30'] = people2['남자30세부터34세생활인구수'] + people2['남자35세부터39세생활인구수']
people3['남성연령_40'] = people2['남자40세부터44세생활인구수'] + people2['남자45세부터49세생활인구수']
people3['남성연령_50'] = people2['남자50세부터54세생활인구수'] + people2['남자55세부터59세생활인구수']
people3['남성연령_60'] = people2['남자60세부터64세생활인구수'] + people2['남자65세부터69세생활인구수']
people3['남성연령_70'] = people2['남자70세이상생활인구수']
people3['여성연령_20'] = people2['여자20세부터24세생활인구수'] + people2['여자25세부터29세생활인구수']
people3['여성연령_30'] = people2['여자30세부터34세생활인구수'] + people2['여자35세부터39세생활인구수']
people3['여성연령_40'] = people2['여자40세부터44세생활인구수'] + people2['여자45세부터49세생활인구수']
people3['여성연령_50'] = people2['여자50세부터54세생활인구수'] + people2['여자55세부터59세생활인구수']
people3['여성연령_60'] = people2['여자60세부터64세생활인구수'] + people2['여자65세부터69세생활인구수']
people3['여성연령_70'] = people2['여자70세이상생활인구수']
people3

          시간대구분  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
자치구코드 월
강남구   01   11.5     21918.851886     26649.893435     39479.802430
      02   11.5     20472.409523     25268.849156     38316.626938
      03   11.5     20517.118526     22715.875985     38751.609407
      04   11.5     20726.742566     22461.136710     38741.554257
      05   11.5     20997.680454     22585.335603     37507.156740
...         ...              ...              ...              ...
중랑구   08   11.5      8857.293466     11200.288028     11213.571163
      09   11.5      8719.419606     11220.575486     11109.608136
      10   11.5      8635.184022     11205.966322     11063.896888
      11   11.5      8509.160283     11045.518321     10927.819054
      12   11.5      8424.802668     11128.706864     11425.174339

          남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
자치구코드 월
강남구   01     44551.455304     49721.642012     43973.997324     42265.389772
      02     42950.272173     47908.657558     42396.460806     40900.940359
      03     44471.748689     49847.736265     44364.209018     42396.055482
      04     44846.304175     50350.413314     44637.313109     42173.818798
      05     42810.810128     47854.121178     42536.382412     40763.356724
...                   ...              ...              ...              ...
중랑구   08     11451.264137     13635.476933     12146.088357     13336.952211
      09     11566.486335     13893.956521     12383.250951     13535.172184
      10     11446.005200     13714.249462     12208.089901     13336.187369
      11     11335.602619     13559.581268     11980.704538     13404.848283
      12     11370.264790     13863.325793     12051.146819     13672.517791

          남자50세부터54세생활인구수  남자55세부터59세생활인구수  ...       남성연령_40       남성연령_50  \
자치구코드 월                                     ...
강남구   01     30070.732197     25499.822020  ...  86239.387096  55570.554217
      02     29221.486395     24843.900210  ...  83297.401165  54065.386605
      03     30085.566043     25443.903408  ...  86760.264500  55529.469452
      04     30212.510138     25246.038773  ...  86811.131907  55458.548911
      05     29378.004978     24518.469312  ...  83299.739137  53896.474290
...                   ...              ...  ...           ...           ...
중랑구   08     12980.583006     13952.517401  ...  25483.040568  26933.100407
      09     13064.235089     13906.866768  ...  25918.423136  26971.101857
      10     12896.865970     13735.542796  ...  25544.277270  26632.408766
      11     12885.793918     13674.389420  ...  25385.552822  26560.183338
      12     13098.619681     14198.809452  ...  25723.664610  27297.429133

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   01  38223.797023  31436.867960  89270.282948  88747.856411
      02  37454.606909  31203.792036  85243.264430  85965.784057
      03  37900.914427  31378.718510  85939.127985  89764.638755
      04  37411.807698  30741.428549  86240.982723  90461.516079
      05  36555.412336  30291.073899  83486.347802  87055.303421
...                ...           ...           ...           ...
중랑구   08  20479.752417  17314.111240  23735.960202  26446.801502
      09  20499.014153  17457.660822  23224.536385  26691.268924
      10  20267.158364  17233.446735  23344.274124  26910.865202
      11  20168.458932  17396.676292  23082.958732  26793.647525
      12  21144.298399  18239.563485  23241.870785  26810.868546

               여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   01  70802.280145  54447.702164  48372.554553  47161.789820
      02  68494.605386  53090.196009  47350.469774  46498.955245
      03  71138.903063  54137.073217  48459.729411  47424.427609
      04  70973.200190  53485.321061  47797.442659  46427.949583
      05  69488.567175  52368.005175  46418.310724  46170.546370
...                ...           ...           ...           ...
중랑구   08  27111.743402  32352.066211  25509.124565  29839.105613
      09  27555.202668  32492.577191  25674.173996  30347.362836
      10  27474.342920  32525.257329  25382.411170  30050.614393
      11  27415.010810  32516.088616  25388.972145  30037.620809
      12  27445.271375  33106.484384  26170.648102  30703.613712

[300 rows x 41 columns]

In [15]:
people3.drop(columns=['남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수',
            '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
            '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수'], axis=1, inplace=True)
people3

          시간대구분  남자15세부터19세생활인구수  여자15세부터19세생활인구수  여자20세부터24세생활인구수  \
자치구코드 월
강남구   01   11.5     21918.851886     22660.180651     37160.143752
      02   11.5     20472.409523     19560.431060     35155.629098
      03   11.5     20517.118526     18895.935931     33920.309508
      04   11.5     20726.742566     19000.308205     33862.999130
      05   11.5     20997.680454     19121.261634     33329.479029
...         ...              ...              ...              ...
중랑구   08   11.5      8857.293466      8432.517686     11512.167690
      09   11.5      8719.419606      8403.417726     11065.697467
      10   11.5      8635.184022      8280.289743     11085.571626
      11   11.5      8509.160283      8388.948664     10951.161570
      12   11.5      8424.802668      8001.407582     10888.437682

          여자25세부터29세생활인구수  여자30세부터34세생활인구수  여자35세부터39세생활인구수  여자40세부터44세생활인구수  \
자치구코드 월
강남구   01     52110.139196     46063.533892     42684.322519     35629.283122
      02     50087.635332     44562.589149     41403.194908     34607.640223
      03     52018.818477     46547.312909     43217.325845     36080.648773
      04     52377.983593     46854.366079     43607.150000     36043.911066
      05     50156.868773     44966.474829     42088.828592     35179.334270
...                   ...              ...              ...              ...
중랑구   08     12223.792512     12608.717749     13838.083753     12262.860185
      09     12158.838918     12682.777738     14008.491186     12569.997647
      10     12258.702498     12804.511066     14106.354136     12458.589147
      11     12131.797162     12677.972902     14115.674623     12445.769559
      12     12353.433102     12533.436757     14277.431790     12324.557772

          여자45세부터49세생활인구수  여자50세부터54세생활인구수  ...       남성연령_40       남성연령_50  \
자치구코드 월                                     ...
강남구   01     35172.997024     26559.432529  ...  86239.387096  55570.554217
      02     33886.965164     25883.209988  ...  83297.401165  54065.386605
      03     35058.254291     26353.169933  ...  86760.264500  55529.469452
      04     34929.289124     26114.837181  ...  86811.131907  55458.548911
      05     34309.232905     25675.550298  ...  83299.739137  53896.474290
...                   ...              ...  ...           ...           ...
중랑구   08     14848.883217     15179.429243  ...  25483.040568  26933.100407
      09     14985.205021     15201.506027  ...  25918.423136  26971.101857
      10     15015.753772     15258.453689  ...  25544.277270  26632.408766
      11     14969.241251     15216.133669  ...  25385.552822  26560.183338
      12     15120.713603     15364.800245  ...  25723.664610  27297.429133

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   01  38223.797023  31436.867960  89270.282948  88747.856411
      02  37454.606909  31203.792036  85243.264430  85965.784057
      03  37900.914427  31378.718510  85939.127985  89764.638755
      04  37411.807698  30741.428549  86240.982723  90461.516079
      05  36555.412336  30291.073899  83486.347802  87055.303421
...                ...           ...           ...           ...
중랑구   08  20479.752417  17314.111240  23735.960202  26446.801502
      09  20499.014153  17457.660822  23224.536385  26691.268924
      10  20267.158364  17233.446735  23344.274124  26910.865202
      11  20168.458932  17396.676292  23082.958732  26793.647525
      12  21144.298399  18239.563485  23241.870785  26810.868546

               여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   01  70802.280145  54447.702164  48372.554553  47161.789820
      02  68494.605386  53090.196009  47350.469774  46498.955245
      03  71138.903063  54137.073217  48459.729411  47424.427609
      04  70973.200190  53485.321061  47797.442659  46427.949583
      05  69488.567175  52368.005175  46418.310724  46170.546370
...                ...           ...           ...           ...
중랑구   08  27111.743402  32352.066211  25509.124565  29839.105613
      09  27555.202668  32492.577191  25674.173996  30347.362836
      10  27474.342920  32525.257329  25382.411170  30050.614393
      11  27415.010810  32516.088616  25388.972145  30037.620809
      12  27445.271375  33106.484384  26170.648102  30703.613712

[300 rows x 30 columns]

In [16]:
people3.drop(columns=['여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
            '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수', '여자55세부터59세생활인구수',
            '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수', '여자15세부터19세생활인구수',
                     '남자15세부터19세생활인구수'], axis=1, inplace=True)
people3

          시간대구분      중국인체류인구수   중국외외국인체류인구수   중국인체류인구수.1  중국외외국인체류인구수.1  \
자치구코드 월
강남구   01   11.5  12569.272188  11506.515520  8571.119409   13282.388057
      02   11.5  12286.880304  11024.270011  6322.726665   10518.922411
      03   11.5  11790.329249  10870.813555  4501.289176   13846.776884
      04   11.5  11593.176131  10746.587486  4864.144438   14386.034737
      05   11.5  11156.280653  10618.953655  5968.307090   14921.614419
...         ...           ...           ...          ...            ...
중랑구   08   11.5   3652.706529   2282.114258   159.244988     455.131208
      09   11.5   3522.491495   2267.816058   177.480295     477.825188
      10   11.5   3471.847237   2196.321361   170.189360     456.561657
      11   11.5   3368.816894   2185.349421   206.757493     478.968303
      12   11.5   3534.791002   2249.866141   148.335680     439.042320

               남성연령_20       남성연령_30       남성연령_40       남성연령_50  \
자치구코드 월
강남구   01  66129.695865  94273.097316  86239.387096  55570.554217
      02  63585.476094  90858.929731  83297.401165  54065.386605
      03  61467.485392  94319.484954  86760.264500  55529.469452
      04  61202.690968  95196.717489  86811.131907  55458.548911
      05  60092.492343  90664.931306  83299.739137  53896.474290
...                ...           ...           ...           ...
중랑구   08  22413.859191  25086.741070  25483.040568  26933.100407
      09  22330.183622  25460.442856  25918.423136  26971.101857
      10  22269.863209  25160.254662  25544.277270  26632.408766
      11  21973.337375  24895.183887  25385.552822  26560.183338
      12  22553.881203  25233.590584  25723.664610  27297.429133

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   01  38223.797023  31436.867960  89270.282948  88747.856411
      02  37454.606909  31203.792036  85243.264430  85965.784057
      03  37900.914427  31378.718510  85939.127985  89764.638755
      04  37411.807698  30741.428549  86240.982723  90461.516079
      05  36555.412336  30291.073899  83486.347802  87055.303421
...                ...           ...           ...           ...
중랑구   08  20479.752417  17314.111240  23735.960202  26446.801502
      09  20499.014153  17457.660822  23224.536385  26691.268924
      10  20267.158364  17233.446735  23344.274124  26910.865202
      11  20168.458932  17396.676292  23082.958732  26793.647525
      12  21144.298399  18239.563485  23241.870785  26810.868546

               여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   01  70802.280145  54447.702164  48372.554553  47161.789820
      02  68494.605386  53090.196009  47350.469774  46498.955245
      03  71138.903063  54137.073217  48459.729411  47424.427609
      04  70973.200190  53485.321061  47797.442659  46427.949583
      05  69488.567175  52368.005175  46418.310724  46170.546370
...                ...           ...           ...           ...
중랑구   08  27111.743402  32352.066211  25509.124565  29839.105613
      09  27555.202668  32492.577191  25674.173996  30347.362836
      10  27474.342920  32525.257329  25382.411170  30050.614393
      11  27415.010810  32516.088616  25388.972145  30037.620809
      12  27445.271375  33106.484384  26170.648102  30703.613712

[300 rows x 17 columns]

In [17]:
people3['외국인'] = people3['중국인체류인구수'] + people3['중국외외국인체류인구수'] + people3['중국인체류인구수.1'] + people3['중국외외국인체류인구수.1']
people3.drop(columns=['중국인체류인구수', '중국외외국인체류인구수', '중국인체류인구수.1', '중국외외국인체류인구수.1'], axis=1, inplace=True)
people3

          시간대구분       남성연령_20       남성연령_30       남성연령_40       남성연령_50  \
자치구코드 월
강남구   01   11.5  66129.695865  94273.097316  86239.387096  55570.554217
      02   11.5  63585.476094  90858.929731  83297.401165  54065.386605
      03   11.5  61467.485392  94319.484954  86760.264500  55529.469452
      04   11.5  61202.690968  95196.717489  86811.131907  55458.548911
      05   11.5  60092.492343  90664.931306  83299.739137  53896.474290
...         ...           ...           ...           ...           ...
중랑구   08   11.5  22413.859191  25086.741070  25483.040568  26933.100407
      09   11.5  22330.183622  25460.442856  25918.423136  26971.101857
      10   11.5  22269.863209  25160.254662  25544.277270  26632.408766
      11   11.5  21973.337375  24895.183887  25385.552822  26560.183338
      12   11.5  22553.881203  25233.590584  25723.664610  27297.429133

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   01  38223.797023  31436.867960  89270.282948  88747.856411
      02  37454.606909  31203.792036  85243.264430  85965.784057
      03  37900.914427  31378.718510  85939.127985  89764.638755
      04  37411.807698  30741.428549  86240.982723  90461.516079
      05  36555.412336  30291.073899  83486.347802  87055.303421
...                ...           ...           ...           ...
중랑구   08  20479.752417  17314.111240  23735.960202  26446.801502
      09  20499.014153  17457.660822  23224.536385  26691.268924
      10  20267.158364  17233.446735  23344.274124  26910.865202
      11  20168.458932  17396.676292  23082.958732  26793.647525
      12  21144.298399  18239.563485  23241.870785  26810.868546

               여성연령_40       여성연령_50       여성연령_60       여성연령_70           외국인
자치구코드 월
강남구   01  70802.280145  54447.702164  48372.554553  47161.789820  45929.295175
      02  68494.605386  53090.196009  47350.469774  46498.955245  40152.799391
      03  71138.903063  54137.073217  48459.729411  47424.427609  41009.208864
      04  70973.200190  53485.321061  47797.442659  46427.949583  41589.942791
      05  69488.567175  52368.005175  46418.310724  46170.546370  42665.155818
...                ...           ...           ...           ...           ...
중랑구   08  27111.743402  32352.066211  25509.124565  29839.105613   6549.196982
      09  27555.202668  32492.577191  25674.173996  30347.362836   6445.613036
      10  27474.342920  32525.257329  25382.411170  30050.614393   6294.919615
      11  27415.010810  32516.088616  25388.972145  30037.620809   6239.892110
      12  27445.271375  33106.484384  26170.648102  30703.613712   6372.035143

[300 rows x 14 columns]

In [19]:
people3.drop('시간대구분', axis=1, inplace=True)
people3 = people3.round()
people3

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   01  66130.0  94273.0  86239.0  55571.0  38224.0  31437.0  89270.0
      02  63585.0  90859.0  83297.0  54065.0  37455.0  31204.0  85243.0
      03  61467.0  94319.0  86760.0  55529.0  37901.0  31379.0  85939.0
      04  61203.0  95197.0  86811.0  55459.0  37412.0  30741.0  86241.0
      05  60092.0  90665.0  83300.0  53896.0  36555.0  30291.0  83486.0
...           ...      ...      ...      ...      ...      ...      ...
중랑구   08  22414.0  25087.0  25483.0  26933.0  20480.0  17314.0  23736.0
      09  22330.0  25460.0  25918.0  26971.0  20499.0  17458.0  23225.0
      10  22270.0  25160.0  25544.0  26632.0  20267.0  17233.0  23344.0
      11  21973.0  24895.0  25386.0  26560.0  20168.0  17397.0  23083.0
      12  22554.0  25234.0  25724.0  27297.0  21144.0  18240.0  23242.0

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인
자치구코드 월
강남구   01  88748.0  70802.0  54448.0  48373.0  47162.0  45929.0
      02  85966.0  68495.0  53090.0  47350.0  46499.0  40153.0
      03  89765.0  71139.0  54137.0  48460.0  47424.0  41009.0
      04  90462.0  70973.0  53485.0  47797.0  46428.0  41590.0
      05  87055.0  69489.0  52368.0  46418.0  46171.0  42665.0
...           ...      ...      ...      ...      ...      ...
중랑구   08  26447.0  27112.0  32352.0  25509.0  29839.0   6549.0
      09  26691.0  27555.0  32493.0  25674.0  30347.0   6446.0
      10  26911.0  27474.0  32525.0  25382.0  30051.0   6295.0
      11  26794.0  27415.0  32516.0  25389.0  30038.0   6240.0
      12  26811.0  27445.0  33106.0  26171.0  30704.0   6372.0

[300 rows x 13 columns]

In [20]:
people3.to_csv('2018전처리.csv')