In [1]:
import pandas as pd

people = pd.read_csv('2021생활인구.csv')
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2021-01-01,0,11110,4479.0239,7799.4338,8270.0476,6591.1392,7579.7820,7074.5372,8952.4622,...,8051.4425,6722.6436,5109.8562,15036.7700,9209.1513,4950.6873,819.3381,1045.7867,Friday,1
1,2021-01-01,0,11140,2368.3576,4868.7237,6945.7261,6640.6784,7840.6110,6741.2837,6923.2649,...,5617.3479,4846.5084,3847.0501,9823.1857,9103.3266,5040.5007,3246.5284,2159.2696,Friday,1
2,2021-01-01,0,11170,5294.7572,7602.9197,9970.4226,11424.4500,13636.9205,11185.3911,11567.6748,...,9417.1985,8353.8373,5899.2935,16888.6424,3945.8324,15047.2872,565.5814,1570.2635,Friday,1
3,2021-01-01,0,11200,6427.3620,9447.8712,12296.0848,12453.8504,15616.7389,13210.2964,13627.0795,...,12442.7269,10785.3456,7925.9533,20678.4090,9574.9486,4740.7469,921.3862,1902.0457,Friday,1
4,2021-01-01,0,11215,9216.3402,12610.7515,16765.3160,15174.9819,15309.0600,13867.0227,14994.9732,...,14573.9438,12408.8341,8957.7143,20651.2597,17510.0955,4923.7750,1385.4227,750.4009,Friday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2021-12-31,23,11620,9246.5077,18907.9663,31630.4011,25874.5206,22738.3801,18514.8420,19409.0945,...,16492.3015,14879.3203,12008.2245,29786.2623,16869.1665,5762.3148,2084.0490,2306.2449,Friday,12
218996,2021-12-31,23,11650,13954.8801,12218.0882,13859.9908,15248.2675,19129.0357,20563.1683,23909.5492,...,15450.9244,13399.7482,11023.4122,26408.4854,3315.8505,6005.3371,964.9808,4448.1318,Friday,12
218997,2021-12-31,23,11680,21877.8836,17167.4107,21281.2474,22822.7317,28478.8064,28669.5597,32611.1781,...,19701.3446,17174.8688,14571.0011,34306.4306,4496.3529,8322.4473,1560.9484,7061.1642,Friday,12
218998,2021-12-31,23,11710,20377.0469,18965.2072,24192.2124,26429.5933,32640.2745,29971.1064,31238.0179,...,28698.9175,24997.5744,19119.4128,40250.2444,7653.2445,6868.4785,1411.0500,3380.9156,Friday,12
218999,2021-12-31,23,11740,14574.3609,13118.0621,16176.9547,17415.4066,22046.3803,21736.6823,22611.9155,...,22154.7722,20360.2661,15934.1844,34850.0792,6742.9916,2490.9662,799.3748,834.5561,Friday,12

In [2]:
gu = pd.read_csv('C:/Users/sun/Desktop/평일/자치구코드.csv', index_col=0)
gu

       자치구 명
자치구 코드
11000   인근지역
11110    종로구
11140     중구
11170    용산구
11200    성동구
11215    광진구
11230   동대문구
11260    중랑구
11290    성북구
11305    강북구
11320    도봉구
11350    노원구
11380    은평구
11410   서대문구
11440    마포구
11470    양천구
11500    강서구
11530    구로구
11545    금천구
11560   영등포구
11590    동작구
11620    관악구
11650    서초구
11680    강남구
11710    송파구
11740    강동구

In [3]:
dict_gu = gu.to_dict()
dict_gu

{'자치구 명': {11000: '인근지역',
  11110: '종로구',
  11140: '중구',
  11170: '용산구',
  11200: '성동구',
  11215: '광진구',
  11230: '동대문구',
  11260: '중랑구',
  11290: '성북구',
  11305: '강북구',
  11320: '도봉구',
  11350: '노원구',
  11380: '은평구',
  11410: '서대문구',
  11440: '마포구',
  11470: '양천구',
  11500: '강서구',
  11530: '구로구',
  11545: '금천구',
  11560: '영등포구',
  11590: '동작구',
  11620: '관악구',
  11650: '서초구',
  11680: '강남구',
  11710: '송파구',
  11740: '강동구'}}

In [4]:
people = people.replace({'자치구코드': dict_gu['자치구 명']})
people

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2021-01-01,0,종로구,4479.0239,7799.4338,8270.0476,6591.1392,7579.7820,7074.5372,8952.4622,...,8051.4425,6722.6436,5109.8562,15036.7700,9209.1513,4950.6873,819.3381,1045.7867,Friday,1
1,2021-01-01,0,중구,2368.3576,4868.7237,6945.7261,6640.6784,7840.6110,6741.2837,6923.2649,...,5617.3479,4846.5084,3847.0501,9823.1857,9103.3266,5040.5007,3246.5284,2159.2696,Friday,1
2,2021-01-01,0,용산구,5294.7572,7602.9197,9970.4226,11424.4500,13636.9205,11185.3911,11567.6748,...,9417.1985,8353.8373,5899.2935,16888.6424,3945.8324,15047.2872,565.5814,1570.2635,Friday,1
3,2021-01-01,0,성동구,6427.3620,9447.8712,12296.0848,12453.8504,15616.7389,13210.2964,13627.0795,...,12442.7269,10785.3456,7925.9533,20678.4090,9574.9486,4740.7469,921.3862,1902.0457,Friday,1
4,2021-01-01,0,광진구,9216.3402,12610.7515,16765.3160,15174.9819,15309.0600,13867.0227,14994.9732,...,14573.9438,12408.8341,8957.7143,20651.2597,17510.0955,4923.7750,1385.4227,750.4009,Friday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2021-12-31,23,관악구,9246.5077,18907.9663,31630.4011,25874.5206,22738.3801,18514.8420,19409.0945,...,16492.3015,14879.3203,12008.2245,29786.2623,16869.1665,5762.3148,2084.0490,2306.2449,Friday,12
218996,2021-12-31,23,서초구,13954.8801,12218.0882,13859.9908,15248.2675,19129.0357,20563.1683,23909.5492,...,15450.9244,13399.7482,11023.4122,26408.4854,3315.8505,6005.3371,964.9808,4448.1318,Friday,12
218997,2021-12-31,23,강남구,21877.8836,17167.4107,21281.2474,22822.7317,28478.8064,28669.5597,32611.1781,...,19701.3446,17174.8688,14571.0011,34306.4306,4496.3529,8322.4473,1560.9484,7061.1642,Friday,12
218998,2021-12-31,23,송파구,20377.0469,18965.2072,24192.2124,26429.5933,32640.2745,29971.1064,31238.0179,...,28698.9175,24997.5744,19119.4128,40250.2444,7653.2445,6868.4785,1411.0500,3380.9156,Friday,12
218999,2021-12-31,23,강동구,14574.3609,13118.0621,16176.9547,17415.4066,22046.3803,21736.6823,22611.9155,...,22154.7722,20360.2661,15934.1844,34850.0792,6742.9916,2490.9662,799.3748,834.5561,Friday,12

In [5]:
people1 = people[people['요일']!='Sunday']
people1

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2021-01-01,0,종로구,4479.0239,7799.4338,8270.0476,6591.1392,7579.7820,7074.5372,8952.4622,...,8051.4425,6722.6436,5109.8562,15036.7700,9209.1513,4950.6873,819.3381,1045.7867,Friday,1
1,2021-01-01,0,중구,2368.3576,4868.7237,6945.7261,6640.6784,7840.6110,6741.2837,6923.2649,...,5617.3479,4846.5084,3847.0501,9823.1857,9103.3266,5040.5007,3246.5284,2159.2696,Friday,1
2,2021-01-01,0,용산구,5294.7572,7602.9197,9970.4226,11424.4500,13636.9205,11185.3911,11567.6748,...,9417.1985,8353.8373,5899.2935,16888.6424,3945.8324,15047.2872,565.5814,1570.2635,Friday,1
3,2021-01-01,0,성동구,6427.3620,9447.8712,12296.0848,12453.8504,15616.7389,13210.2964,13627.0795,...,12442.7269,10785.3456,7925.9533,20678.4090,9574.9486,4740.7469,921.3862,1902.0457,Friday,1
4,2021-01-01,0,광진구,9216.3402,12610.7515,16765.3160,15174.9819,15309.0600,13867.0227,14994.9732,...,14573.9438,12408.8341,8957.7143,20651.2597,17510.0955,4923.7750,1385.4227,750.4009,Friday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2021-12-31,23,관악구,9246.5077,18907.9663,31630.4011,25874.5206,22738.3801,18514.8420,19409.0945,...,16492.3015,14879.3203,12008.2245,29786.2623,16869.1665,5762.3148,2084.0490,2306.2449,Friday,12
218996,2021-12-31,23,서초구,13954.8801,12218.0882,13859.9908,15248.2675,19129.0357,20563.1683,23909.5492,...,15450.9244,13399.7482,11023.4122,26408.4854,3315.8505,6005.3371,964.9808,4448.1318,Friday,12
218997,2021-12-31,23,강남구,21877.8836,17167.4107,21281.2474,22822.7317,28478.8064,28669.5597,32611.1781,...,19701.3446,17174.8688,14571.0011,34306.4306,4496.3529,8322.4473,1560.9484,7061.1642,Friday,12
218998,2021-12-31,23,송파구,20377.0469,18965.2072,24192.2124,26429.5933,32640.2745,29971.1064,31238.0179,...,28698.9175,24997.5744,19119.4128,40250.2444,7653.2445,6868.4785,1411.0500,3380.9156,Friday,12
218999,2021-12-31,23,강동구,14574.3609,13118.0621,16176.9547,17415.4066,22046.3803,21736.6823,22611.9155,...,22154.7722,20360.2661,15934.1844,34850.0792,6742.9916,2490.9662,799.3748,834.5561,Friday,12

In [6]:
people2 = people1[people1['요일']!='Saturday']
people2

,기준일ID,시간대구분,자치구코드,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,중국인체류인구수,중국외외국인체류인구수,중국인체류인구수.1,중국외외국인체류인구수.1,요일,월
0,2021-01-01,0,종로구,4479.0239,7799.4338,8270.0476,6591.1392,7579.7820,7074.5372,8952.4622,...,8051.4425,6722.6436,5109.8562,15036.7700,9209.1513,4950.6873,819.3381,1045.7867,Friday,1
1,2021-01-01,0,중구,2368.3576,4868.7237,6945.7261,6640.6784,7840.6110,6741.2837,6923.2649,...,5617.3479,4846.5084,3847.0501,9823.1857,9103.3266,5040.5007,3246.5284,2159.2696,Friday,1
2,2021-01-01,0,용산구,5294.7572,7602.9197,9970.4226,11424.4500,13636.9205,11185.3911,11567.6748,...,9417.1985,8353.8373,5899.2935,16888.6424,3945.8324,15047.2872,565.5814,1570.2635,Friday,1
3,2021-01-01,0,성동구,6427.3620,9447.8712,12296.0848,12453.8504,15616.7389,13210.2964,13627.0795,...,12442.7269,10785.3456,7925.9533,20678.4090,9574.9486,4740.7469,921.3862,1902.0457,Friday,1
4,2021-01-01,0,광진구,9216.3402,12610.7515,16765.3160,15174.9819,15309.0600,13867.0227,14994.9732,...,14573.9438,12408.8341,8957.7143,20651.2597,17510.0955,4923.7750,1385.4227,750.4009,Friday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,2021-12-31,23,관악구,9246.5077,18907.9663,31630.4011,25874.5206,22738.3801,18514.8420,19409.0945,...,16492.3015,14879.3203,12008.2245,29786.2623,16869.1665,5762.3148,2084.0490,2306.2449,Friday,12
218996,2021-12-31,23,서초구,13954.8801,12218.0882,13859.9908,15248.2675,19129.0357,20563.1683,23909.5492,...,15450.9244,13399.7482,11023.4122,26408.4854,3315.8505,6005.3371,964.9808,4448.1318,Friday,12
218997,2021-12-31,23,강남구,21877.8836,17167.4107,21281.2474,22822.7317,28478.8064,28669.5597,32611.1781,...,19701.3446,17174.8688,14571.0011,34306.4306,4496.3529,8322.4473,1560.9484,7061.1642,Friday,12
218998,2021-12-31,23,송파구,20377.0469,18965.2072,24192.2124,26429.5933,32640.2745,29971.1064,31238.0179,...,28698.9175,24997.5744,19119.4128,40250.2444,7653.2445,6868.4785,1411.0500,3380.9156,Friday,12
218999,2021-12-31,23,강동구,14574.3609,13118.0621,16176.9547,17415.4066,22046.3803,21736.6823,22611.9155,...,22154.7722,20360.2661,15934.1844,34850.0792,6742.9916,2490.9662,799.3748,834.5561,Friday,12

In [7]:
people2['요일'].value_counts()

Friday       31800
Monday       31200
Tuesday      31200
Wednesday    31200
Thursday     31200
Name: 요일, dtype: int64

In [8]:
columns = people2.columns
people2 = people2.groupby(['자치구코드', '월'])[columns].mean()
people2

          시간대구분  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
자치구코드 월
강남구   1    11.5     23471.640441     19840.370483     32468.176423
      2    11.5     23963.019765     20141.143236     32545.592066
      3    11.5     24815.115071     20373.919350     34252.178436
      4    11.5     24455.190638     20391.590886     34202.657632
      5    11.5     24523.709498     20429.170084     33533.693604
...         ...              ...              ...              ...
중랑구   8    11.5      7580.497090      9600.831708     11653.574035
      9    11.5      7437.123383      9558.758624     11742.909784
      10   11.5      7482.235163      9472.981236     11654.802498
      11   11.5      7559.336939      9438.942344     11314.188873
      12   11.5      7586.441456      9587.653018     11464.700441

          남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
자치구코드 월
강남구   1      36837.872042     44636.057044     42167.007899     43300.198833
      2      36819.847247     44708.508842     41833.466312     43262.297887
      3      38857.997318     47253.481940     44117.148085     45063.500881
      4      38732.148432     47334.568182     43958.997052     44838.113025
      5      37348.377976     45486.093477     42484.784161     43763.861221
...                   ...              ...              ...              ...
중랑구   8      11212.144543     13400.183563     12407.888531     12941.505495
      9      11266.033820     13661.931208     12646.831509     13087.951530
      10     11063.758941     13502.683034     12422.362577     12814.661520
      11     10867.926625     13335.872214     12263.160521     12755.739367
      12     11105.210447     13416.427594     12490.493226     12846.182493

          남자50세부터54세생활인구수  남자55세부터59세생활인구수  ...  여자50세부터54세생활인구수  \
자치구코드 월                                     ...
강남구   1      31070.904771     25125.836030  ...     25635.956118
      2      30830.323904     25202.064903  ...     25531.407087
      3      32072.134134     25876.892078  ...     26092.575366
      4      32253.395413     25912.494809  ...     26138.947356
      5      31809.560394     25432.575866  ...     25972.365297
...                   ...              ...  ...              ...
중랑구   8      12564.130261     13829.319243  ...     14558.066903
      9      12584.301616     14031.512009  ...     14546.090451
      10     12337.943253     13763.149957  ...     14443.581037
      11     12252.358609     13808.726356  ...     14422.454732
      12     12353.835154     14035.792234  ...     14439.766344

          여자55세부터59세생활인구수  여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수  \
자치구코드 월
강남구   1      24854.476747     22164.985285     17325.456941  37799.305561
      2      24648.532298     22120.201656     17255.686356  37742.629230
      3      25185.061863     22497.733165     17669.362889  38214.597459
      4      24998.160892     22242.618790     17528.742236  37972.928326
      5      24666.745524     22013.548343     17348.596891  37592.338937
...                   ...              ...              ...           ...
중랑구   8      16481.528098     14470.721496     10571.717961  26878.217342
      9      16507.956762     14405.228496     10588.699025  26854.751322
      10     16490.013911     14349.284372     10481.080775  26841.513676
      11     16580.444401     14387.484565     10501.316324  26926.546027
      12     16651.394937     14504.698360     10645.351295  27358.623969

              중국인체류인구수   중국외외국인체류인구수   중국인체류인구수.1  중국외외국인체류인구수.1     월
자치구코드 월
강남구   1    9861.166102  10571.638280  1434.317862    4295.252948   1.0
      2    9995.995011  10699.376289  1316.242578    5364.007603   2.0
      3   10779.219349  10772.802823  1202.559506    5037.074153   3.0
      4   11162.172250  10591.964983  1112.437355    3889.644196   4.0
      5   10917.279535  10312.702589  1318.850625    3977.123406   5.0
...                ...           ...          ...            ...   ...
중랑구   8    3534.066465   2366.228319   185.321600     429.153021   8.0
      9    3487.059161   2403.337497   198.866434     428.990654   9.0
      10   3478.598871   2382.637922   322.373047     533.133497  10.0
      11   3385.836414   2277.525436   312.736877     310.888267  11.0
      12   3361.869510   2316.024120   344.740555     407.096870  12.0

[300 rows x 30 columns]

In [11]:
people3 = people2.copy()

In [12]:
people3['남성연령_20'] = people2['남자20세부터24세생활인구수'] + people2['남자25세부터29세생활인구수']
people3['남성연령_30'] = people2['남자30세부터34세생활인구수'] + people2['남자35세부터39세생활인구수']
people3['남성연령_40'] = people2['남자40세부터44세생활인구수'] + people2['남자45세부터49세생활인구수']
people3['남성연령_50'] = people2['남자50세부터54세생활인구수'] + people2['남자55세부터59세생활인구수']
people3['남성연령_60'] = people2['남자60세부터64세생활인구수'] + people2['남자65세부터69세생활인구수']
people3['남성연령_70'] = people2['남자70세이상생활인구수']
people3['여성연령_20'] = people2['여자20세부터24세생활인구수'] + people2['여자25세부터29세생활인구수']
people3['여성연령_30'] = people2['여자30세부터34세생활인구수'] + people2['여자35세부터39세생활인구수']
people3['여성연령_40'] = people2['여자40세부터44세생활인구수'] + people2['여자45세부터49세생활인구수']
people3['여성연령_50'] = people2['여자50세부터54세생활인구수'] + people2['여자55세부터59세생활인구수']
people3['여성연령_60'] = people2['여자60세부터64세생활인구수'] + people2['여자65세부터69세생활인구수']
people3['여성연령_70'] = people2['여자70세이상생활인구수']
people3

          시간대구분  남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  \
자치구코드 월
강남구   1    11.5     23471.640441     19840.370483     32468.176423
      2    11.5     23963.019765     20141.143236     32545.592066
      3    11.5     24815.115071     20373.919350     34252.178436
      4    11.5     24455.190638     20391.590886     34202.657632
      5    11.5     24523.709498     20429.170084     33533.693604
...         ...              ...              ...              ...
중랑구   8    11.5      7580.497090      9600.831708     11653.574035
      9    11.5      7437.123383      9558.758624     11742.909784
      10   11.5      7482.235163      9472.981236     11654.802498
      11   11.5      7559.336939      9438.942344     11314.188873
      12   11.5      7586.441456      9587.653018     11464.700441

          남자30세부터34세생활인구수  남자35세부터39세생활인구수  남자40세부터44세생활인구수  남자45세부터49세생활인구수  \
자치구코드 월
강남구   1      36837.872042     44636.057044     42167.007899     43300.198833
      2      36819.847247     44708.508842     41833.466312     43262.297887
      3      38857.997318     47253.481940     44117.148085     45063.500881
      4      38732.148432     47334.568182     43958.997052     44838.113025
      5      37348.377976     45486.093477     42484.784161     43763.861221
...                   ...              ...              ...              ...
중랑구   8      11212.144543     13400.183563     12407.888531     12941.505495
      9      11266.033820     13661.931208     12646.831509     13087.951530
      10     11063.758941     13502.683034     12422.362577     12814.661520
      11     10867.926625     13335.872214     12263.160521     12755.739367
      12     11105.210447     13416.427594     12490.493226     12846.182493

          남자50세부터54세생활인구수  남자55세부터59세생활인구수  ...       남성연령_40       남성연령_50  \
자치구코드 월                                     ...
강남구   1      31070.904771     25125.836030  ...  85467.206732  56196.740801
      2      30830.323904     25202.064903  ...  85095.764199  56032.388807
      3      32072.134134     25876.892078  ...  89180.648966  57949.026213
      4      32253.395413     25912.494809  ...  88797.110077  58165.890223
      5      31809.560394     25432.575866  ...  86248.645382  57242.136260
...                   ...              ...  ...           ...           ...
중랑구   8      12564.130261     13829.319243  ...  25349.394026  26393.449504
      9      12584.301616     14031.512009  ...  25734.783039  26615.813625
      10     12337.943253     13763.149957  ...  25237.024097  26101.093210
      11     12252.358609     13808.726356  ...  25018.899888  26061.084965
      12     12353.835154     14035.792234  ...  25336.675719  26389.627388

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   1   32425.062554  25129.283234  73080.481357  81590.712274
      2   32287.111467  25053.583178  74005.519698  82192.996014
      3   32635.078557  25326.073854  77667.818646  86689.677019
      4   32600.719003  25082.795656  77849.920559  87111.613409
      5   32082.325683  24933.271786  76015.277255  84423.322264
...                ...           ...           ...           ...
중랑구   8   19724.610206  17187.389376  23908.501412  26592.748610
      9   19740.736022  17312.746363  23839.610827  26763.269696
      10  19463.782166  17132.065215  23776.772487  26770.514365
      11  19542.978606  17229.733555  23210.781712  26369.488921
      12  19861.254878  17510.979061  23419.816192  26679.167539

               여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   1   74136.377093  50490.432865  39490.442226  37799.305561
      2   73946.043551  50179.939385  39375.888012  37742.629230
      3   76293.348964  51277.637229  40167.096054  38214.597459
      4   76258.492310  51137.108248  39771.361025  37972.928326
      5   75135.507048  50639.110821  39362.145234  37592.338937
...                ...           ...           ...           ...
중랑구   8   25896.197549  31039.595000  25042.439456  26878.217342
      9   26277.833674  31054.047213  24993.927522  26854.751322
      10  26140.566687  30933.594949  24830.365148  26841.513676
      11  26060.399535  31002.899133  24888.800889  26926.546027
      12  26279.957339  31091.161281  25150.049655  27358.623969

[300 rows x 42 columns]

In [13]:
people3.drop(columns=['남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수',
            '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
            '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수'], axis=1, inplace=True)
people3

          시간대구분  남자15세부터19세생활인구수  여자15세부터19세생활인구수  여자20세부터24세생활인구수  \
자치구코드 월
강남구   1    11.5     23471.640441     23477.856525     30849.951611
      2    11.5     23963.019765     23080.693424     31263.389916
      3    11.5     24815.115071     23378.118662     32287.927004
      4    11.5     24455.190638     22992.947638     32374.880291
      5    11.5     24523.709498     23129.815979     32035.435434
...         ...              ...              ...              ...
중랑구   8    11.5      7580.497090      7396.490096     10864.326422
      9    11.5      7437.123383      7391.245463     10787.499030
      10   11.5      7482.235163      7484.476655     10764.876762
      11   11.5      7559.336939      7629.508349     10571.917487
      12   11.5      7586.441456      7551.177192     10659.024360

          여자25세부터29세생활인구수  여자30세부터34세생활인구수  여자35세부터39세생활인구수  여자40세부터44세생활인구수  \
자치구코드 월
강남구   1      42230.529746     40215.325067     41375.387207     37303.406248
      2      42742.129782     40572.112269     41620.883746     37327.242846
      3      45379.891642     42855.191505     43834.485514     38794.502582
      4      45475.040268     43025.486428     44086.126981     38848.511775
      5      43979.841821     41540.027121     42883.295143     38047.869415
...                   ...              ...              ...              ...
중랑구   8      13044.174990     12283.818019     14308.930592     12198.946183
      9      13052.111797     12338.410346     14424.859350     12435.412925
      10     13011.895726     12370.592821     14399.921543     12361.883376
      11     12638.864225     12132.985061     14236.503860     12296.142014
      12     12760.791833     12247.988470     14431.179069     12438.697543

          여자45세부터49세생활인구수  여자50세부터54세생활인구수  ...       남성연령_40       남성연령_50  \
자치구코드 월                                     ...
강남구   1      36832.970845     25635.956118  ...  85467.206732  56196.740801
      2      36618.800706     25531.407087  ...  85095.764199  56032.388807
      3      37498.846383     26092.575366  ...  89180.648966  57949.026213
      4      37409.980535     26138.947356  ...  88797.110077  58165.890223
      5      37087.637632     25972.365297  ...  86248.645382  57242.136260
...                   ...              ...  ...           ...           ...
중랑구   8      13697.251366     14558.066903  ...  25349.394026  26393.449504
      9      13842.420749     14546.090451  ...  25734.783039  26615.813625
      10     13778.683311     14443.581037  ...  25237.024097  26101.093210
      11     13764.257521     14422.454732  ...  25018.899888  26061.084965
      12     13841.259795     14439.766344  ...  25336.675719  26389.627388

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   1   32425.062554  25129.283234  73080.481357  81590.712274
      2   32287.111467  25053.583178  74005.519698  82192.996014
      3   32635.078557  25326.073854  77667.818646  86689.677019
      4   32600.719003  25082.795656  77849.920559  87111.613409
      5   32082.325683  24933.271786  76015.277255  84423.322264
...                ...           ...           ...           ...
중랑구   8   19724.610206  17187.389376  23908.501412  26592.748610
      9   19740.736022  17312.746363  23839.610827  26763.269696
      10  19463.782166  17132.065215  23776.772487  26770.514365
      11  19542.978606  17229.733555  23210.781712  26369.488921
      12  19861.254878  17510.979061  23419.816192  26679.167539

               여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   1   74136.377093  50490.432865  39490.442226  37799.305561
      2   73946.043551  50179.939385  39375.888012  37742.629230
      3   76293.348964  51277.637229  40167.096054  38214.597459
      4   76258.492310  51137.108248  39771.361025  37972.928326
      5   75135.507048  50639.110821  39362.145234  37592.338937
...                ...           ...           ...           ...
중랑구   8   25896.197549  31039.595000  25042.439456  26878.217342
      9   26277.833674  31054.047213  24993.927522  26854.751322
      10  26140.566687  30933.594949  24830.365148  26841.513676
      11  26060.399535  31002.899133  24888.800889  26926.546027
      12  26279.957339  31091.161281  25150.049655  27358.623969

[300 rows x 31 columns]

In [14]:
people3.drop(columns=['여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
            '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수', '여자55세부터59세생활인구수',
            '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수', '여자15세부터19세생활인구수',
                     '남자15세부터19세생활인구수'], axis=1, inplace=True)
people3

          시간대구분      중국인체류인구수   중국외외국인체류인구수   중국인체류인구수.1  중국외외국인체류인구수.1     월  \
자치구코드 월
강남구   1    11.5   9861.166102  10571.638280  1434.317862    4295.252948   1.0
      2    11.5   9995.995011  10699.376289  1316.242578    5364.007603   2.0
      3    11.5  10779.219349  10772.802823  1202.559506    5037.074153   3.0
      4    11.5  11162.172250  10591.964983  1112.437355    3889.644196   4.0
      5    11.5  10917.279535  10312.702589  1318.850625    3977.123406   5.0
...         ...           ...           ...          ...            ...   ...
중랑구   8    11.5   3534.066465   2366.228319   185.321600     429.153021   8.0
      9    11.5   3487.059161   2403.337497   198.866434     428.990654   9.0
      10   11.5   3478.598871   2382.637922   322.373047     533.133497  10.0
      11   11.5   3385.836414   2277.525436   312.736877     310.888267  11.0
      12   11.5   3361.869510   2316.024120   344.740555     407.096870  12.0

               남성연령_20       남성연령_30       남성연령_40       남성연령_50  \
자치구코드 월
강남구   1   52308.546906  81473.929086  85467.206732  56196.740801
      2   52686.735303  81528.356089  85095.764199  56032.388807
      3   54626.097786  86111.479259  89180.648966  57949.026213
      4   54594.248518  86066.716614  88797.110077  58165.890223
      5   53962.863688  82834.471453  86248.645382  57242.136260
...                ...           ...           ...           ...
중랑구   8   21254.405743  24612.328105  25349.394026  26393.449504
      9   21301.668409  24927.965028  25734.783039  26615.813625
      10  21127.783734  24566.441975  25237.024097  26101.093210
      11  20753.131217  24203.798839  25018.899888  26061.084965
      12  21052.353459  24521.638041  25336.675719  26389.627388

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   1   32425.062554  25129.283234  73080.481357  81590.712274
      2   32287.111467  25053.583178  74005.519698  82192.996014
      3   32635.078557  25326.073854  77667.818646  86689.677019
      4   32600.719003  25082.795656  77849.920559  87111.613409
      5   32082.325683  24933.271786  76015.277255  84423.322264
...                ...           ...           ...           ...
중랑구   8   19724.610206  17187.389376  23908.501412  26592.748610
      9   19740.736022  17312.746363  23839.610827  26763.269696
      10  19463.782166  17132.065215  23776.772487  26770.514365
      11  19542.978606  17229.733555  23210.781712  26369.488921
      12  19861.254878  17510.979061  23419.816192  26679.167539

               여성연령_40       여성연령_50       여성연령_60       여성연령_70
자치구코드 월
강남구   1   74136.377093  50490.432865  39490.442226  37799.305561
      2   73946.043551  50179.939385  39375.888012  37742.629230
      3   76293.348964  51277.637229  40167.096054  38214.597459
      4   76258.492310  51137.108248  39771.361025  37972.928326
      5   75135.507048  50639.110821  39362.145234  37592.338937
...                ...           ...           ...           ...
중랑구   8   25896.197549  31039.595000  25042.439456  26878.217342
      9   26277.833674  31054.047213  24993.927522  26854.751322
      10  26140.566687  30933.594949  24830.365148  26841.513676
      11  26060.399535  31002.899133  24888.800889  26926.546027
      12  26279.957339  31091.161281  25150.049655  27358.623969

[300 rows x 18 columns]

In [15]:
people3['외국인'] = people3['중국인체류인구수'] + people3['중국외외국인체류인구수'] + people3['중국인체류인구수.1'] + people3['중국외외국인체류인구수.1']
people3.drop(columns=['중국인체류인구수', '중국외외국인체류인구수', '중국인체류인구수.1', '중국외외국인체류인구수.1'], axis=1, inplace=True)
people3

          시간대구분     월       남성연령_20       남성연령_30       남성연령_40       남성연령_50  \
자치구코드 월
강남구   1    11.5   1.0  52308.546906  81473.929086  85467.206732  56196.740801
      2    11.5   2.0  52686.735303  81528.356089  85095.764199  56032.388807
      3    11.5   3.0  54626.097786  86111.479259  89180.648966  57949.026213
      4    11.5   4.0  54594.248518  86066.716614  88797.110077  58165.890223
      5    11.5   5.0  53962.863688  82834.471453  86248.645382  57242.136260
...         ...   ...           ...           ...           ...           ...
중랑구   8    11.5   8.0  21254.405743  24612.328105  25349.394026  26393.449504
      9    11.5   9.0  21301.668409  24927.965028  25734.783039  26615.813625
      10   11.5  10.0  21127.783734  24566.441975  25237.024097  26101.093210
      11   11.5  11.0  20753.131217  24203.798839  25018.899888  26061.084965
      12   11.5  12.0  21052.353459  24521.638041  25336.675719  26389.627388

               남성연령_60       남성연령_70       여성연령_20       여성연령_30  \
자치구코드 월
강남구   1   32425.062554  25129.283234  73080.481357  81590.712274
      2   32287.111467  25053.583178  74005.519698  82192.996014
      3   32635.078557  25326.073854  77667.818646  86689.677019
      4   32600.719003  25082.795656  77849.920559  87111.613409
      5   32082.325683  24933.271786  76015.277255  84423.322264
...                ...           ...           ...           ...
중랑구   8   19724.610206  17187.389376  23908.501412  26592.748610
      9   19740.736022  17312.746363  23839.610827  26763.269696
      10  19463.782166  17132.065215  23776.772487  26770.514365
      11  19542.978606  17229.733555  23210.781712  26369.488921
      12  19861.254878  17510.979061  23419.816192  26679.167539

               여성연령_40       여성연령_50       여성연령_60       여성연령_70           외국인
자치구코드 월
강남구   1   74136.377093  50490.432865  39490.442226  37799.305561  26162.375191
      2   73946.043551  50179.939385  39375.888012  37742.629230  27375.621481
      3   76293.348964  51277.637229  40167.096054  38214.597459  27791.655832
      4   76258.492310  51137.108248  39771.361025  37972.928326  26756.218784
      5   75135.507048  50639.110821  39362.145234  37592.338937  26525.956154
...                ...           ...           ...           ...           ...
중랑구   8   25896.197549  31039.595000  25042.439456  26878.217342   6514.769404
      9   26277.833674  31054.047213  24993.927522  26854.751322   6518.253746
      10  26140.566687  30933.594949  24830.365148  26841.513676   6716.743338
      11  26060.399535  31002.899133  24888.800889  26926.546027   6286.986995
      12  26279.957339  31091.161281  25150.049655  27358.623969   6429.731055

[300 rows x 15 columns]

In [16]:
people3.drop(['시간대구분', '월'], axis=1, inplace=True)
people3 = people3.round()
people3

          남성연령_20  남성연령_30  남성연령_40  남성연령_50  남성연령_60  남성연령_70  여성연령_20  \
자치구코드 월
강남구   1   52309.0  81474.0  85467.0  56197.0  32425.0  25129.0  73080.0
      2   52687.0  81528.0  85096.0  56032.0  32287.0  25054.0  74006.0
      3   54626.0  86111.0  89181.0  57949.0  32635.0  25326.0  77668.0
      4   54594.0  86067.0  88797.0  58166.0  32601.0  25083.0  77850.0
      5   53963.0  82834.0  86249.0  57242.0  32082.0  24933.0  76015.0
...           ...      ...      ...      ...      ...      ...      ...
중랑구   8   21254.0  24612.0  25349.0  26393.0  19725.0  17187.0  23909.0
      9   21302.0  24928.0  25735.0  26616.0  19741.0  17313.0  23840.0
      10  21128.0  24566.0  25237.0  26101.0  19464.0  17132.0  23777.0
      11  20753.0  24204.0  25019.0  26061.0  19543.0  17230.0  23211.0
      12  21052.0  24522.0  25337.0  26390.0  19861.0  17511.0  23420.0

          여성연령_30  여성연령_40  여성연령_50  여성연령_60  여성연령_70      외국인
자치구코드 월
강남구   1   81591.0  74136.0  50490.0  39490.0  37799.0  26162.0
      2   82193.0  73946.0  50180.0  39376.0  37743.0  27376.0
      3   86690.0  76293.0  51278.0  40167.0  38215.0  27792.0
      4   87112.0  76258.0  51137.0  39771.0  37973.0  26756.0
      5   84423.0  75136.0  50639.0  39362.0  37592.0  26526.0
...           ...      ...      ...      ...      ...      ...
중랑구   8   26593.0  25896.0  31040.0  25042.0  26878.0   6515.0
      9   26763.0  26278.0  31054.0  24994.0  26855.0   6518.0
      10  26771.0  26141.0  30934.0  24830.0  26842.0   6717.0
      11  26369.0  26060.0  31003.0  24889.0  26927.0   6287.0
      12  26679.0  26280.0  31091.0  25150.0  27359.0   6430.0

[300 rows x 13 columns]

In [17]:
people3.to_csv('2021전처리.csv')

In [18]:
rate = pd.read_csv('C:/Users/sun/Desktop/평일/2021흡연율 - 시트1.csv', index_col=0)
rate

               흡연율
연령
남성연령_20  31.347699
남성연령_30  32.522083
남성연령_40  38.824144
남성연령_50  36.662917
남성연령_60  29.312591
남성연령_70  14.502564
남성       32.547692
여성연령_20  12.592629
여성연령_30   8.560353
여성연령_40   6.671104
여성연령_50   1.994747
여성연령_60   4.510470
여성연령_70   1.416253
여성        6.972647

In [19]:
rate1 = rate.drop(['남성', '여성'])
rate1

               흡연율
연령
남성연령_20  31.347699
남성연령_30  32.522083
남성연령_40  38.824144
남성연령_50  36.662917
남성연령_60  29.312591
남성연령_70  14.502564
여성연령_20  12.592629
여성연령_30   8.560353
여성연령_40   6.671104
여성연령_50   1.994747
여성연령_60   4.510470
여성연령_70   1.416253

In [20]:
rate1.loc['외국인'] = 20.00658498
rate1

               흡연율
연령
남성연령_20  31.347699
남성연령_30  32.522083
남성연령_40  38.824144
남성연령_50  36.662917
남성연령_60  29.312591
남성연령_70  14.502564
여성연령_20  12.592629
여성연령_30   8.560353
여성연령_40   6.671104
여성연령_50   1.994747
여성연령_60   4.510470
여성연령_70   1.416253
외국인      20.006585

In [21]:
rate1.to_csv('2021흡연율.csv')