In [2]:
import pandas as pd

lp = pd.read_csv('LOCAL_PEOPLE_GU_2019.csv', encoding='cp949', index_col=False)
lf = pd.read_csv('LONG_FOREIGNER_GU_2019.csv', encoding='cp949', index_col=False)
tf = pd.read_csv('TEMP_FOREIGNER_GU_2019.csv', encoding='cp949', index_col=False)

lp

C:\Users\sun\AppData\Local\Temp/ipykernel_18900/1000082992.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  lp = pd.read_csv('LOCAL_PEOPLE_GU_2019.csv', encoding='cp949', index_col=False)

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20190101,0,11110,247783.9476,6613.1044,3564.9470,6134.7190,12757.6730,13424.9912,9679.4043,...,11592.6358,8455.5240,8669.4651,7764.7926,9659.7779,8421.0455,8671.2045,8079.0106,6242.6970,17962.9680
1,20190101,0,11140,176516.2769,4735.9065,1857.9963,3251.4707,7456.5552,8482.9745,8253.8513,...,8654.7543,7425.3943,7345.0904,5858.8981,6255.6065,5525.2377,6293.4810,5906.2118,4298.7062,12303.3213
2,20190101,0,11170,287806.8492,7274.7405,3654.3768,5865.4531,11656.1407,15548.7770,14457.9881,...,16203.3581,13423.3780,13009.2350,10794.0704,10880.1619,8360.3558,9568.1641,8703.7465,6648.3724,20296.2431
3,20190101,0,11200,335106.5204,12278.8839,5306.1528,6766.7787,11593.4668,13941.8426,13447.0673,...,13656.2699,14046.9836,15142.1260,12029.9710,13051.1879,11475.2065,13219.4730,12022.8741,9093.4057,24370.0786
4,20190101,0,11215,399818.0269,12003.9916,6472.3827,12056.0837,17503.8179,18611.2942,16219.1953,...,17737.9096,16189.7277,16158.7700,14059.8023,15750.9307,14705.5715,15708.3156,14021.6731,9907.6266,24975.8391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211195,20191231,23,11620,512045.7410,13292.1313,6492.1774,10001.0660,20423.9464,34108.8311,27984.1499,...,29361.7592,22645.1803,20459.1792,16839.3671,17200.5078,16012.9977,18377.4578,16540.6608,13771.6139,32595.2666
211196,20191231,23,11650,507017.9562,17249.4614,9728.3280,15440.6841,15643.9679,18565.4597,17723.9030,...,18985.1085,18778.2261,23145.8814,21481.7859,22961.2336,17494.8242,17660.0288,16583.0255,12881.3183,30976.3635
211197,20191231,23,11680,701730.1925,21768.6379,14313.7773,22627.7125,21085.1486,29039.6792,28890.8864,...,31572.3410,29317.5029,32070.2938,30395.5776,31006.2854,21940.4235,22145.4239,21115.0631,16258.7322,39325.7057
211198,20191231,23,11710,776809.6518,29303.9813,15154.6352,21907.8004,21864.3757,29286.5636,29977.2304,...,33346.5810,32816.1799,35769.2569,30872.0662,31988.1565,27188.8780,31098.6350,27865.7032,20081.3478,44078.4656
211199,20191231,23,11740,522271.9542,20543.7319,10960.7816,14363.6445,13441.0008,16460.9813,17401.2642,...,16613.2490,18320.0779,22014.1676,20677.4726,21839.8532,19902.3094,23881.2715,21770.4235,16505.9461,35222.8552

In [3]:
lp['기준일ID'] = lp['기준일ID'].astype('str')
lp['기준일ID']

0         20190101
1         20190101
2         20190101
3         20190101
4         20190101
            ...
211195    20191231
211196    20191231
211197    20191231
211198    20191231
211199    20191231
Name: 기준일ID, Length: 211200, dtype: object

In [4]:
lp['기준일ID'] = pd.to_datetime(lp['기준일ID'])
lp

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2019-01-01,0,11110,247783.9476,6613.1044,3564.9470,6134.7190,12757.6730,13424.9912,9679.4043,...,11592.6358,8455.5240,8669.4651,7764.7926,9659.7779,8421.0455,8671.2045,8079.0106,6242.6970,17962.9680
1,2019-01-01,0,11140,176516.2769,4735.9065,1857.9963,3251.4707,7456.5552,8482.9745,8253.8513,...,8654.7543,7425.3943,7345.0904,5858.8981,6255.6065,5525.2377,6293.4810,5906.2118,4298.7062,12303.3213
2,2019-01-01,0,11170,287806.8492,7274.7405,3654.3768,5865.4531,11656.1407,15548.7770,14457.9881,...,16203.3581,13423.3780,13009.2350,10794.0704,10880.1619,8360.3558,9568.1641,8703.7465,6648.3724,20296.2431
3,2019-01-01,0,11200,335106.5204,12278.8839,5306.1528,6766.7787,11593.4668,13941.8426,13447.0673,...,13656.2699,14046.9836,15142.1260,12029.9710,13051.1879,11475.2065,13219.4730,12022.8741,9093.4057,24370.0786
4,2019-01-01,0,11215,399818.0269,12003.9916,6472.3827,12056.0837,17503.8179,18611.2942,16219.1953,...,17737.9096,16189.7277,16158.7700,14059.8023,15750.9307,14705.5715,15708.3156,14021.6731,9907.6266,24975.8391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211195,2019-12-31,23,11620,512045.7410,13292.1313,6492.1774,10001.0660,20423.9464,34108.8311,27984.1499,...,29361.7592,22645.1803,20459.1792,16839.3671,17200.5078,16012.9977,18377.4578,16540.6608,13771.6139,32595.2666
211196,2019-12-31,23,11650,507017.9562,17249.4614,9728.3280,15440.6841,15643.9679,18565.4597,17723.9030,...,18985.1085,18778.2261,23145.8814,21481.7859,22961.2336,17494.8242,17660.0288,16583.0255,12881.3183,30976.3635
211197,2019-12-31,23,11680,701730.1925,21768.6379,14313.7773,22627.7125,21085.1486,29039.6792,28890.8864,...,31572.3410,29317.5029,32070.2938,30395.5776,31006.2854,21940.4235,22145.4239,21115.0631,16258.7322,39325.7057
211198,2019-12-31,23,11710,776809.6518,29303.9813,15154.6352,21907.8004,21864.3757,29286.5636,29977.2304,...,33346.5810,32816.1799,35769.2569,30872.0662,31988.1565,27188.8780,31098.6350,27865.7032,20081.3478,44078.4656
211199,2019-12-31,23,11740,522271.9542,20543.7319,10960.7816,14363.6445,13441.0008,16460.9813,17401.2642,...,16613.2490,18320.0779,22014.1676,20677.4726,21839.8532,19902.3094,23881.2715,21770.4235,16505.9461,35222.8552

In [8]:
lf

           기준일ID  시간대구분  자치구코드      총생활인구수    중국인체류인구수  중국외외국인체류인구수
0       20190101      0  11110  17781.8892  11035.0773    6746.8132
1       20190101      0  11140  18002.6187  10923.9122    7078.7062
2       20190101      0  11170  27306.3659   5907.9073   21398.4597
3       20190101      0  11200  17225.0885  10136.1296    7088.9600
4       20190101      0  11215  26007.8091  20028.8521    5978.9571
...          ...    ...    ...         ...         ...          ...
211195  20191231     23  11620  23634.5007  18935.6050    4698.8936
211196  20191231     23  11650  12282.6724   4467.6237    7815.0499
211197  20191231     23  11680  23222.4219   9083.4988   14138.9230
211198  20191231     23  11710  21463.8273  10507.4467   10956.3839
211199  20191231     23  11740   9740.5395   7564.1576    2176.3825

[211200 rows x 6 columns]

In [10]:
columns = lf.columns
columns

Index(['기준일ID', '시간대구분', '자치구코드', '총생활인구수', '중국인체류인구수', '중국외외국인체류인구수'], dtype='object')

In [11]:
tf.columns = columns
tf

           기준일ID  시간대구분  자치구코드      총생활인구수    중국인체류인구수  중국외외국인체류인구수
0       20190101      0  11110  18704.4856   8987.5825    9716.9030
1       20190101      0  11140  64870.1850  29424.3341   35445.8501
2       20190101      0  11170  14723.9941   4178.1144   10545.8802
3       20190101      0  11200   2164.7635    639.9332    1524.8298
4       20190101      0  11215   3008.5557   1409.8304    1598.7258
...          ...    ...    ...         ...         ...          ...
211195  20191231     23  11620   2116.0139   1074.1549    1041.8597
211196  20191231     23  11650   7739.7494   2227.6605    5512.0892
211197  20191231     23  11680  29055.5705  10486.5165   18569.0526
211198  20191231     23  11710  12454.2277   3885.5880    8568.6387
211199  20191231     23  11740   1286.9974    368.9743     918.0227

[211200 rows x 6 columns]

In [12]:
lf['기준일ID'] = lf['기준일ID'].astype('str')
tf['기준일ID'] = tf['기준일ID'].astype('str')

lf['기준일ID'] = pd.to_datetime(lf['기준일ID'])
tf['기준일ID'] = pd.to_datetime(tf['기준일ID'])

In [14]:
lp['요일'] = lp['기준일ID'].dt.day_name()
lp

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,요일
0,2019-01-01,0,11110,247783.9476,6613.1044,3564.9470,6134.7190,12757.6730,13424.9912,9679.4043,...,8455.5240,8669.4651,7764.7926,9659.7779,8421.0455,8671.2045,8079.0106,6242.6970,17962.9680,Tuesday
1,2019-01-01,0,11140,176516.2769,4735.9065,1857.9963,3251.4707,7456.5552,8482.9745,8253.8513,...,7425.3943,7345.0904,5858.8981,6255.6065,5525.2377,6293.4810,5906.2118,4298.7062,12303.3213,Tuesday
2,2019-01-01,0,11170,287806.8492,7274.7405,3654.3768,5865.4531,11656.1407,15548.7770,14457.9881,...,13423.3780,13009.2350,10794.0704,10880.1619,8360.3558,9568.1641,8703.7465,6648.3724,20296.2431,Tuesday
3,2019-01-01,0,11200,335106.5204,12278.8839,5306.1528,6766.7787,11593.4668,13941.8426,13447.0673,...,14046.9836,15142.1260,12029.9710,13051.1879,11475.2065,13219.4730,12022.8741,9093.4057,24370.0786,Tuesday
4,2019-01-01,0,11215,399818.0269,12003.9916,6472.3827,12056.0837,17503.8179,18611.2942,16219.1953,...,16189.7277,16158.7700,14059.8023,15750.9307,14705.5715,15708.3156,14021.6731,9907.6266,24975.8391,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211195,2019-12-31,23,11620,512045.7410,13292.1313,6492.1774,10001.0660,20423.9464,34108.8311,27984.1499,...,22645.1803,20459.1792,16839.3671,17200.5078,16012.9977,18377.4578,16540.6608,13771.6139,32595.2666,Tuesday
211196,2019-12-31,23,11650,507017.9562,17249.4614,9728.3280,15440.6841,15643.9679,18565.4597,17723.9030,...,18778.2261,23145.8814,21481.7859,22961.2336,17494.8242,17660.0288,16583.0255,12881.3183,30976.3635,Tuesday
211197,2019-12-31,23,11680,701730.1925,21768.6379,14313.7773,22627.7125,21085.1486,29039.6792,28890.8864,...,29317.5029,32070.2938,30395.5776,31006.2854,21940.4235,22145.4239,21115.0631,16258.7322,39325.7057,Tuesday
211198,2019-12-31,23,11710,776809.6518,29303.9813,15154.6352,21907.8004,21864.3757,29286.5636,29977.2304,...,32816.1799,35769.2569,30872.0662,31988.1565,27188.8780,31098.6350,27865.7032,20081.3478,44078.4656,Tuesday
211199,2019-12-31,23,11740,522271.9542,20543.7319,10960.7816,14363.6445,13441.0008,16460.9813,17401.2642,...,18320.0779,22014.1676,20677.4726,21839.8532,19902.3094,23881.2715,21770.4235,16505.9461,35222.8552,Tuesday

In [15]:
lf['요일'] = lf['기준일ID'].dt.day_name()
tf['요일'] = tf['기준일ID'].dt.day_name()

In [16]:
lp.to_csv('LOCAL_PEOPLE_2019.csv', index=False)
lf.to_csv('LONG_FOREIGNER_2019.csv', index=False)
tf.to_csv('TEMPORARY_FOREIGNER_2019.csv', index=False)