In [1]:
import pandas as pd

lp = pd.read_csv('LOCAL_PEOPLE_GU_2020.csv', encoding='cp949', index_col=False)
lf = pd.read_csv('LONG_FOREIGNER_GU_2020.csv', encoding='cp949', index_col=False)
tf = pd.read_csv('TEMP_FOREIGNER_GU_2020.csv', encoding='cp949', index_col=False)

lp

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20200101,0,11110,248283.0355,6496.6713,3519.7135,6348.0673,12253.9712,12938.7039,9583.1787,...,11259.3854,8426.5599,8607.0974,8011.5248,9875.9187,8486.6664,9490.4589,8222.0645,6400.1665,17695.4216
1,20200101,0,11140,187720.0184,4655.7791,1817.9263,3500.9994,7226.0512,9428.2194,8787.5163,...,10079.4077,8195.3502,8308.9521,6605.4908,7053.0874,5983.3255,6620.2703,5915.9446,4544.3436,11603.8885
2,20200101,0,11170,292640.2683,7594.5578,3783.8774,6324.2591,11834.2528,15891.0504,14739.2364,...,16182.6128,13760.6577,13667.5186,10514.6813,11290.0344,8829.6365,9709.4967,8643.7729,6371.5681,18755.7771
3,20200101,0,11200,333267.7444,12520.2471,5415.8134,7182.9770,10466.6080,13383.5771,13654.5821,...,13626.2653,14261.8259,15999.6087,12892.9772,13062.3169,11207.5851,12904.2161,11578.6985,8481.8560,22570.1152
4,20200101,0,11215,390059.2798,12015.7622,6462.2537,12038.9403,16338.6258,18367.5701,15746.9044,...,18310.8330,16293.1891,16085.3865,13892.6067,15360.7202,14039.0758,14903.7537,13224.1186,9307.2924,22441.4454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219595,20201231,23,11620,491876.3992,12042.7597,5878.9457,9286.4932,18595.6889,32894.0641,27029.4913,...,28665.3905,22176.0338,20053.8085,16635.8672,17106.8235,15356.6362,17435.0351,15557.4030,13130.1839,30703.4738
219596,20201231,23,11650,466368.7220,18594.7954,10289.7404,13522.5719,12280.9308,14460.0631,15802.6365,...,15061.3760,17063.1982,22045.1812,22204.0968,21985.7829,16723.0522,16226.4957,14851.4468,11578.7158,27920.7343
219597,20201231,23,11680,621348.1084,23088.1736,14923.8699,20251.4996,16558.2360,22027.7269,23573.7027,...,23043.5160,24573.9310,28815.1006,29317.1204,30446.5162,21103.6165,20034.7712,18114.9466,14567.9752,34078.2136
219598,20201231,23,11710,724883.1371,29325.6824,15030.9786,19885.0444,18608.1647,24941.9716,27706.8890,...,27108.0002,29385.6601,35057.7094,30684.7583,31200.3182,26635.7275,29853.7165,26337.6339,19556.6567,40528.2835
219599,20201231,23,11740,524891.9605,20670.5419,11726.7471,14516.8545,12868.8571,16480.5157,17984.3031,...,17222.1333,19317.6787,23417.6348,21581.9854,22339.4273,19779.8662,22972.5990,20946.2449,15867.6609,33403.5613

In [2]:
lp['기준일ID'] = lp['기준일ID'].astype('str')
lp['기준일ID']

0         20200101
1         20200101
2         20200101
3         20200101
4         20200101
            ...
219595    20201231
219596    20201231
219597    20201231
219598    20201231
219599    20201231
Name: 기준일ID, Length: 219600, dtype: object

In [3]:
lp['기준일ID'] = pd.to_datetime(lp['기준일ID'])
lp

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2020-01-01,0,11110,248283.0355,6496.6713,3519.7135,6348.0673,12253.9712,12938.7039,9583.1787,...,11259.3854,8426.5599,8607.0974,8011.5248,9875.9187,8486.6664,9490.4589,8222.0645,6400.1665,17695.4216
1,2020-01-01,0,11140,187720.0184,4655.7791,1817.9263,3500.9994,7226.0512,9428.2194,8787.5163,...,10079.4077,8195.3502,8308.9521,6605.4908,7053.0874,5983.3255,6620.2703,5915.9446,4544.3436,11603.8885
2,2020-01-01,0,11170,292640.2683,7594.5578,3783.8774,6324.2591,11834.2528,15891.0504,14739.2364,...,16182.6128,13760.6577,13667.5186,10514.6813,11290.0344,8829.6365,9709.4967,8643.7729,6371.5681,18755.7771
3,2020-01-01,0,11200,333267.7444,12520.2471,5415.8134,7182.9770,10466.6080,13383.5771,13654.5821,...,13626.2653,14261.8259,15999.6087,12892.9772,13062.3169,11207.5851,12904.2161,11578.6985,8481.8560,22570.1152
4,2020-01-01,0,11215,390059.2798,12015.7622,6462.2537,12038.9403,16338.6258,18367.5701,15746.9044,...,18310.8330,16293.1891,16085.3865,13892.6067,15360.7202,14039.0758,14903.7537,13224.1186,9307.2924,22441.4454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219595,2020-12-31,23,11620,491876.3992,12042.7597,5878.9457,9286.4932,18595.6889,32894.0641,27029.4913,...,28665.3905,22176.0338,20053.8085,16635.8672,17106.8235,15356.6362,17435.0351,15557.4030,13130.1839,30703.4738
219596,2020-12-31,23,11650,466368.7220,18594.7954,10289.7404,13522.5719,12280.9308,14460.0631,15802.6365,...,15061.3760,17063.1982,22045.1812,22204.0968,21985.7829,16723.0522,16226.4957,14851.4468,11578.7158,27920.7343
219597,2020-12-31,23,11680,621348.1084,23088.1736,14923.8699,20251.4996,16558.2360,22027.7269,23573.7027,...,23043.5160,24573.9310,28815.1006,29317.1204,30446.5162,21103.6165,20034.7712,18114.9466,14567.9752,34078.2136
219598,2020-12-31,23,11710,724883.1371,29325.6824,15030.9786,19885.0444,18608.1647,24941.9716,27706.8890,...,27108.0002,29385.6601,35057.7094,30684.7583,31200.3182,26635.7275,29853.7165,26337.6339,19556.6567,40528.2835
219599,2020-12-31,23,11740,524891.9605,20670.5419,11726.7471,14516.8545,12868.8571,16480.5157,17984.3031,...,17222.1333,19317.6787,23417.6348,21581.9854,22339.4273,19779.8662,22972.5990,20946.2449,15867.6609,33403.5613

In [5]:
lf['기준일ID'] = lf['기준일ID'].astype('str')
tf['기준일ID'] = tf['기준일ID'].astype('str')

lf['기준일ID'] = pd.to_datetime(lf['기준일ID'])
tf['기준일ID'] = pd.to_datetime(tf['기준일ID'])

In [6]:
lp['요일'] = lp['기준일ID'].dt.day_name()
lp

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,요일
0,2020-01-01,0,11110,248283.0355,6496.6713,3519.7135,6348.0673,12253.9712,12938.7039,9583.1787,...,8426.5599,8607.0974,8011.5248,9875.9187,8486.6664,9490.4589,8222.0645,6400.1665,17695.4216,Wednesday
1,2020-01-01,0,11140,187720.0184,4655.7791,1817.9263,3500.9994,7226.0512,9428.2194,8787.5163,...,8195.3502,8308.9521,6605.4908,7053.0874,5983.3255,6620.2703,5915.9446,4544.3436,11603.8885,Wednesday
2,2020-01-01,0,11170,292640.2683,7594.5578,3783.8774,6324.2591,11834.2528,15891.0504,14739.2364,...,13760.6577,13667.5186,10514.6813,11290.0344,8829.6365,9709.4967,8643.7729,6371.5681,18755.7771,Wednesday
3,2020-01-01,0,11200,333267.7444,12520.2471,5415.8134,7182.9770,10466.6080,13383.5771,13654.5821,...,14261.8259,15999.6087,12892.9772,13062.3169,11207.5851,12904.2161,11578.6985,8481.8560,22570.1152,Wednesday
4,2020-01-01,0,11215,390059.2798,12015.7622,6462.2537,12038.9403,16338.6258,18367.5701,15746.9044,...,16293.1891,16085.3865,13892.6067,15360.7202,14039.0758,14903.7537,13224.1186,9307.2924,22441.4454,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219595,2020-12-31,23,11620,491876.3992,12042.7597,5878.9457,9286.4932,18595.6889,32894.0641,27029.4913,...,22176.0338,20053.8085,16635.8672,17106.8235,15356.6362,17435.0351,15557.4030,13130.1839,30703.4738,Thursday
219596,2020-12-31,23,11650,466368.7220,18594.7954,10289.7404,13522.5719,12280.9308,14460.0631,15802.6365,...,17063.1982,22045.1812,22204.0968,21985.7829,16723.0522,16226.4957,14851.4468,11578.7158,27920.7343,Thursday
219597,2020-12-31,23,11680,621348.1084,23088.1736,14923.8699,20251.4996,16558.2360,22027.7269,23573.7027,...,24573.9310,28815.1006,29317.1204,30446.5162,21103.6165,20034.7712,18114.9466,14567.9752,34078.2136,Thursday
219598,2020-12-31,23,11710,724883.1371,29325.6824,15030.9786,19885.0444,18608.1647,24941.9716,27706.8890,...,29385.6601,35057.7094,30684.7583,31200.3182,26635.7275,29853.7165,26337.6339,19556.6567,40528.2835,Thursday
219599,2020-12-31,23,11740,524891.9605,20670.5419,11726.7471,14516.8545,12868.8571,16480.5157,17984.3031,...,19317.6787,23417.6348,21581.9854,22339.4273,19779.8662,22972.5990,20946.2449,15867.6609,33403.5613,Thursday

In [7]:
lf['요일'] = lf['기준일ID'].dt.day_name()
tf['요일'] = tf['기준일ID'].dt.day_name()

In [8]:
lp.to_csv('LOCAL_PEOPLE_2020.csv', index=False)
lf.to_csv('LONG_FOREIGNER_2020.csv', index=False)
tf.to_csv('TEMPORARY_FOREIGNER_2020.csv', index=False)